<div class="footer-container">
  <div class="wrapper">
    <div class="links-content">
      <div class="previous-years">Previous years</div>
      <div>
        <div>
          <a class="link" href="https://2018.devfest.cz/">Prague 2018</a>
        </div>
        <div>
          <a class="link" href="https://2017.devfest.cz/">Prague 2017</a>
        </div>
        <div>
          <a class="link" href="https://2016.devfest.cz/">Pilsen 2016</a>
        </div>
        <div>
          <a class="link" href="https://2015.devfest.cz/">Ostrava 2015</a>
        </div>
        <div>
          <a class="link" href="https://2014.devfest.cz/">Prague 2014</a>
        </div>
        <div>
          <a class="link" href="https://2013.devfest.cz/">Prague</a> & <a class="link"
                                                                          href="https://pardubice2013.devfest.cz/">Pardubice
          2013</a>
        </div>
        <div>
          <a class="link" href="https://2012.devfest.cz/">Prague 2012</a>
        </div>
      </div>
    </div>
    <div class="button-container">
      <div>
        <a class="p-button" color="primary" href="https://devfest.withgoogle.com/code-of-conduct" mat-raised-button
           rel="noopener" target="_blank"> Code of conduct
        </a>
      </div>
      <div>
        <a class="p-button" color="accent" href="mailto:jiri.bartusek@gug.cz" mat-raised-button
           target="_blank">Become
          a partner</a>
      </div>
      <div>
        <a class="p-button" color="accent" href="mailto:devfest@gug.cz" mat-raised-button target="_blank">Contact
          us</a>
      </div>
      <div>
        <button (click)="openFAQ()" class="p-button" color="accent" mat-raised-button>FAQ</button>
      </div>
    </div>
  </div>
</div>
