$primary-color: #455A64;
$primary-color-dark: #263238;

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $primary-color-dark;
}

.mono {
  font-family: 'Roboto Mono', monospace;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

#desktopHeader {
  display: none;
}

#mobileHeader {
  width: 80%;
}

.full-page {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.full-page.flexible {
  min-height: 100vh;
  height: auto;
}

.full-page header {
  height: 200px;
  position: relative;
}

.full-page h2 {
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
  color: #fff;
  margin: 92px 0;
  font-size: 36px;
}

.full-page .frontpage-content {
  background-color: #fff;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-page .frontpage-content h2 {
  color: $primary-color;
}

.action-buttons {
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
}

.action-button {
  display: block;
  text-align: center;
  background-color: $primary-color;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid $primary-color;
  text-decoration: none;

  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

  font-size: 18px;
}

.action-button:not(:first-child) {
  margin: 24px 0 0 0;
}

.action-button.blank {
  background-color: transparent;
  border: 2px solid $primary-color;
  color: $primary-color;
}

.action-button span {
  display: block;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding: 12px 16px;
}

.action-button input, .action-button div {
  padding: 12px 16px;
  border: 0;
  border-radius: 2px;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.action-button input[type=submit] {
  background-color: $primary-color;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.subscription-info {
  max-width: 200px;
  text-align: center;
  font-size: 14px;
  margin: 36px 0 0 0;
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
}

.full-page .frontpage-content .previous-years-action {
  display: none;
}

.previous-years-action a {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: $primary-color-dark;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

.previous-years-action a span {
  display: inline-block;
  margin: 0 0 0 8px;
}

.full-page .frontpage-content .social-media {
  display: none;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px;
}

.social-media a {
  display: block;
  margin: 0 9px;

  color: white;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #fff;

  padding: 16px 0;
}

footer a {
  color: #fff;
}

footer .social-media {
  background-color: white;
  padding: 16px 12px 12px 12px;
  border-radius: 2px;
}

.action-button {
  min-width: 250px;
}

.center-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;

  flex: 1;
}

.center-container .divider {
  width: 150px;
  background-color: #BDBDBD;
  height: 1px;
  margin: 32px 0;
}

#subscribeForm {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;

  width: 350px;
}

.cfpForm {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;

  width: 350px;
}

.mobile-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-family: 'Product Sans', 'Roboto', sans-serif;
  color: $primary-color;
  flex: 1;
}

.mobile-texts h2 {
  font-size: 32px;
  margin: 0 0 16px 0;
}

.mobile-texts h4 {
  font-size: 24px;
  margin: 0;
}

.bottom-actions {
  display: none;
}

.timeline {
  position: relative;
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
  color: #fff;
}

.timeline .line {
  position: absolute;
  height: 100%;
  left: 50%;
  width: 4px;
  background-color: #fff;
  transform: translate(-50%);
}

.timeline .year-point {
  position: relative;
  top: -78px;
  margin: 64px 0;
}

.timeline .year-point:nth-child(even) {
  text-align: right;
  left: -60%;
}

.timeline .year-point:nth-child(odd) {
  text-align: left;
  left: 60%;
}

.timeline .year-point .point {
  position: absolute;
  top: 8px;
  transform: translate(-8px);

  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 8px;
}

.timeline .year-point:nth-child(even) .point {
  left: 110%;
}

.timeline .year-point:nth-child(odd) .point {
  left: -10%;
}

.timeline .year-point:nth-child(2) .point {
  top: 14px;
  transform: translate(-10px);

  width: 20px;
  height: 4px;
  border-radius: 0;
}

.timeline .year-point .place {
  display: block;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  width: 180px;
}

.timeline .year-point .description {
  display: block;
  margin: 16px 0 0 0;
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
  width: 180px;
}

.timeline .year-point .year {
  position: absolute;
  top: 0;
  left: 120%;
  display: block;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
}

.timeline .year-point:nth-child(even) .year {
  left: 120%;
}

.timeline .year-point:nth-child(odd) .year {
  left: -50%;
}

.timeline .end {
  position: relative;
  top: 8px;
  width: 100%;
  height: 39px;
  background-image: url("/images/arrow.svg");
  background-size: 45px 39px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.gug-info {
  text-align: center;
}

footer .partnership {
  display: none;
}

footer .partnership-note {
  margin: 16px 0 0 0;
  display: inline-block;
}

@media (min-width: 700px) {
/*  #subscribeForm {
    flex: 1;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }*/

  .mobile-texts {
    display: none;
  }

  #desktopHeader {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 700px;
    margin: 0 auto;
    bottom: -139px;
  }

  #mobileHeader {
    display: none;
  }

  .full-page header {
    height: auto;
    flex: 1;
  }

  .full-page .frontpage-content {
    padding: 139px 0 0 0;
    box-sizing: border-box;
  }

  .full-page .frontpage-content .previous-years-action {
    position: absolute;
    display: block;
    left: 24px;
    bottom: 24px;
  }

  .full-page .frontpage-content .social-media {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0 0 24px 0;
  }

  .social-media {
    margin: 16px;
  }

  .social-media a {
    color: $primary-color;
  }

  footer .social-media {
    display: none;
  }

  .subscription-info {
    max-width: 400px;
  }

  .bottom-actions {
    display: block;
    position: absolute;
    bottom: 24px;
    width: 100%;
  }

  .bottom-actions a {
    color: #2a2a2a;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    display: block;
    height: 24px;
    line-height: 24px;
  }

  .bottom-actions .left-side-action {
    position: absolute;
    bottom: 0;
    left: 24px;
  }

  .bottom-actions .right-side-action {
    position: absolute;
    bottom: 0;
    right: 24px;
  }

  footer .partnership {
    display: block;
    margin: 48px 0;
  }

  footer .partnership-note {
    display: none;
  }

  .partnership-button {
    background-color: #F44336;
    border: 0;
  }

  .center-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;

    flex: 1;
  }

  .center-container .divider {
    width: 1px;
    background-color: #BDBDBD;
    height: 150px;
    margin: 0 32px;
  }

}