<mat-dialog-content class="content">
    <h1 class="title">Tickets invoice</h1>
    <div *ngIf="!done else thank">
        <p class="text">This is a simple form that lets you order tickets for DevFestCZ 2018 by invoice.</p>
        <p class="text">Summary: <span *ngIf="(countTickets && price && priceCompany); else loadingPrice">{{priceCompany*countTickets}}€
                ({{price*priceCompany*countTickets | number : '1.2-2'}} CZK)</span></p>
        <form class="form">
            <mat-form-field class="form-field" color="accent">
                <input  [(ngModel)]="countTickets" name="countTickets" class="input" matInput placeholder="Count*"  type="number" min="00">
            </mat-form-field>
            <mat-form-field class="form-field" color="accent">
                <input [(ngModel)]="email"  name="email"class="input" matInput  placeholder="Email for delivering invoice*">
            </mat-form-field>
            <mat-form-field class="form-field" color="accent">
                <input [(ngModel)]="companyName" name="companyName" class="input" matInput  placeholder="Company name*">
            </mat-form-field>
            <mat-form-field class="form-field" color="accent">
                <input [(ngModel)]="street"  name="street"class="input" matInput  placeholder="Street*">
            </mat-form-field>
            <mat-form-field class="form-field" color="accent">
                <input [(ngModel)]="city" name="city" class="input" matInput placeholder="City*">
            </mat-form-field>
            <mat-form-field class="form-field" color="accent">
                <input [(ngModel)]="zip"  name="zip"class="input" matInput placeholder="Zip code (PSČ)*">
            </mat-form-field>
            <mat-form-field class="form-field" color="accent">
                <input [(ngModel)]="registrationNumberIC"  name="registrationNumberIC"class="input" matInput  placeholder="Registration number (IČ)*">
            </mat-form-field>
            <mat-form-field class="form-field" color="accent">
                <input [(ngModel)]="registrationNumberDIC"  name="registrationNumberDIC" class="input" matInput  placeholder="Registration number (DIČ)">
            </mat-form-field>
            <mat-form-field color="accent">
                <mat-label>Country*</mat-label>
                <mat-select [(ngModel)]="country"  name="country">
                    <mat-option value="cz">Czech republic</mat-option>
                    <mat-option value="sk">Slovakia</mat-option>
                    <mat-option value="us">USA</mat-option>
                    <mat-option value="uk">UK</mat-option>
                    <mat-option value="de">Germany</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="buttons-container">
                <button mat-raised-button class="invoice-button cancel" color="warn" (click)="goToHome()">Cancel
                </button>
                <button mat-raised-button *ngIf="(countTickets && email && companyName && street && city
                && zip && registrationNumberIC && country)" class="invoice-button buy" color="accent" (click)="sendInvoice()">Buy
                </button>
            </div>
            <div class="spinner-container">
                <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
            </div>
        </form>
    </div>
    <ng-template #thank>
        <p class="text">
            You gonna receive email with instructions early
        </p>
        <div>
            <button mat-raised-button color="accent" (click)="goToHome()">OK</button>
        </div>
    </ng-template>
    <ng-template #loadingPrice>
        Price is loading...
    </ng-template>
</mat-dialog-content>