.schedule-dialog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .close-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .close-button {
      color: #333333;
      cursor: pointer;
      position: fixed;
      text-decoration: none;
      outline: none;
    }
  }

  .title {
    font-family: MyMediaval, serif;
    font-size: 3rem;
    margin: 0;
    text-align: center;
  }

  .body {
    padding: 24px;

    .schedule {
      .time-slot-switch-container {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
        flex-direction: row;

        .time-slot-switch {
          cursor: pointer;
          flex: 1;
          text-align: center;

          &-title {
            font-size: 1rem;
            font-weight: 500;
            margin: 0;
            border-bottom: 2px solid transparent;
            padding: 8px;
          }

          &.active .time-slot-switch-title {
            border-bottom: 2px solid #333333;
          }
        }
      }

      .halls {
        display: none;
        flex-direction: row;
        grid-column-start: 1;
        grid-column-end: 3;
        padding-left: 50px;

        .hall {
          flex: 1;

          .hall-title {
            font-size: 1.1rem;
            font-weight: 500;
            margin: 0;
            text-align: center;
          }
        }
      }

      .times {
        display: grid;
        grid-template-rows: 490px;
        .time {
          height: 490px;

          .time-title {
            margin: 0;
            font-weight: 500;
            font-size: 1rem;
          }
        }
      }

      .tracks {
        display: grid;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        grid-template-columns: 1fr;
        column-count: 1;

        .schedule-item {
          display: flex;
          background-color: #ecd4a8;
          border: 2px solid #333333;
          color: #333333;
          height: 146px;
          width: 100%;

          app-talk {
            width: 100%;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.schedule-dialog .body .schedule {
  @for $i from 1 through 288 {
    .tracks-mobile-rows-#{$i} {
      grid-template-rows: repeat($i, 75px);
    }
  }

  .tracks-mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 8px;
    padding-top: 8px;
    width: 100%;

    .track-group-mobile {
      display: grid;
      grid-template-columns: 50px 1fr;
      grid-column-gap: 16px;
      width: 100%;

      .time-title {
        font-size: 1.2rem;
        font-weight: 500;
        text-align: right;
      }

      .track-container {
        display: grid;
        grid-row-gap: 8px;
        width: 100%;

        .track-mobile {
          background-color: #ecd4a8;
          border: 2px solid #333333;
          display: flex;
          width: 100%;

          app-talk {
            cursor: pointer;
            display: flex;
            flex: 1;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .schedule-dialog .body .schedule {
    .halls {
      display: flex;
      padding-left: 80px;
    }

    .tracks-mobile {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 16px;
      padding-top: 16px;
      width: 100%;

      .track-group-mobile {
        grid-template-columns: 80px 1fr;
        grid-column-gap: 16px;

        .time-title {
          font-size: 1.4rem;
        }

        .track-container {
          grid-column-gap: 16px;
          grid-template-columns: 1fr 1fr 1fr;

          .track-mobile.full-row {
            grid-column-start: 1;
            grid-column-end: 4;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .schedule-dialog .body .schedule {
    .time-slot-switch-container .time-slot-switch &-title {
      font-size: 1.25rem;
    }
    .halls .hall .hall-title {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 1396px) {
  .schedule-dialog {
    .body {
      padding: 24px;

      .schedule {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        grid-row-gap: 4px;

        .time-slot-switch-container {
          display: flex;
          flex-direction: row;

          .time-slot-switch {
            cursor: pointer;
            flex: 1;
            text-align: center;

            &-title {
              font-size: 1.5rem;
              font-weight: 500;
              margin: 0;
              border-bottom: 2px solid transparent;
              padding: 8px;
            }

            &.active .time-slot-switch-title {
              border-bottom: 2px solid #333333;
            }
          }
        }

        .halls {
          display: flex;
          flex-direction: row;
          grid-column-start: 1;
          grid-column-end: 3;
          padding-left: 100px;

          .hall {
            flex: 1;

            .hall-title {
              font-size: 2rem;
              font-weight: 500;
              margin: 0;
              text-align: center;
            }
          }
        }

        .times {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 236px;
          grid-row-gap: 4px;
          .time {
            height: 236px;

            .time-title {
              margin: 0;
              font-weight: 500;
              font-size: 1.75rem;
            }
          }
        }

        .tracks {
          display: grid;
          grid-column-gap: 8px;
          grid-row-gap: 4px;
          padding-top: 4px;

          .schedule-item {
            background-color: #ecd4a8;
            border: 2px solid #333333;
            color: #333333;
            display: flex;
            height: unset;
            flex: 1;
            width: 100%;
          }

          .full-row-item {
            border: solid 1px #333333;
            padding: 8px;
            width: calc(100% - 16px);

            p {
              font-weight: 500;
              font-size: 1.25rem;
            }
          }

          .keynote {
            grid-row: 1;
          }

          .lunch {
            grid-row: 7;
          }

          .closing-keynote {
            grid-row: 22;
          }

          .afterparty {
            grid-row-start: 23;
            grid-row-end: 25;
          }

          p {
            margin: 0;
          }

          app-talk {
            display: flex;
            flex: 1;
            width: 100%;
          }

          @for $i from 1 through 10 {
            .talk-hall-#{$i}-to-#{$i + 1} {
              grid-column-start: $i;
              grid-column-end: $i + 1;
            }

            .talk-hall-1-to-#{$i} {
              grid-column-start: 1;
              grid-column-end: #{$i};
            }
          }

          @for $i from 1 through 288 {
            @for $x from 0 through 10 {
              .talk-from-#{$i}-to-#{$i + $x} {
                grid-row-start: #{$i};
                grid-row-end: #{$i + $x};
              }
            }
          }
        }

        @for $i from 1 through 288 {
          .tracks-rows-#{$i} {
            grid-template-rows: repeat($i, 37px);
          }
        }

        @for $i from 1 through 10 {
          .tracks-columns-#{$i} {
            grid-template-columns: repeat($i, 1fr);
          }
        }
      }
    }
  }
}
