.schedule-dialog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .close-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .close-button {
      color: #333333;
      cursor: pointer;
      position: fixed;
      text-decoration: none;
      outline: none;
    }
  }

  .title {
    font-family: MyMediaval, serif;
    font-size: 3rem;
    margin: 0;
    text-align: center;
  }

  .body {
    padding: 24px;

    .schedule {
      display: grid;
      width: 100%;
      grid-template-columns: 100px 1fr;
      grid-row-gap: 16px;

      .time-slot-switch-container {
        display: flex;
        grid-column-start: 2;
        grid-column-end: 3;
        flex-direction: row;

        .time-slot-switch {
          cursor: pointer;
          flex: 1;
          text-align: center;

          &-title {
            font-size: 1.5rem;
            font-weight: 500;
            margin: 0;
            border-bottom: 2px solid transparent;
            padding: 8px;
          }

          &.active .time-slot-switch-title {
            border-bottom: 2px solid #333333;
          }
        }
      }

      .halls {
        display: flex;
        flex-direction: row;
        grid-column-start: 1;
        grid-column-end: 3;
        padding-left: 100px;

        .hall {
          flex: 1;

          .hall-title {
            font-size: 2rem;
            font-weight: 500;
            margin: 0;
            text-align: center;
          }
        }
      }

      .times {
        .time {
          height: 236px;

          .time-title {
            margin: 0;
            font-weight: 500;
            font-size: 1.75rem;
          }
        }
      }

      .tracks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 8px;
        grid-row-gap: 8px;

        .schedule-item {
          background: saddlebrown;
          color: white;
          display: flex;
          flex: 1;
          width: 100%;
        }

        .full-row-item {
          grid-column-start: 1;
          grid-column-end: 4;
          border: solid 1px #333333;
          padding: 8px;
          width: calc(100% - 16px);

          p {
            font-weight: 500;
            font-size: 1.25rem;
          }
        }

        .keynote {
          grid-row: 1;
        }

        .lunch {
          grid-row: 7;
        }

        .closing-keynote {
          grid-row: 22;
        }

        .afterparty {
          grid-row-start: 23;
          grid-row-end: 25;
        }

        p {
          margin: 0;
        }

        app-talk {
          display: flex;
          flex: 1;
          width: 100%;
        }

        .talk-hall-1 {
          grid-column: 1;
        }

        .talk-hall-2 {
          grid-column: 2;
        }

        .talk-hall-3 {
          grid-column: 3;
        }

        .talk-from-2-to-2 {
          grid-row-start: 2;
          grid-row-end: 3;
        }

        .talk-from-2-to-3 {
          grid-row-start: 2;
          grid-row-end: 4;
        }

        .talk-from-3-to-3 {
          grid-row-start: 3;
          grid-row-end: 4;
        }

        .talk-from-3-to-4 {
          grid-row-start: 3;
          grid-row-end: 5;
        }

        .talk-from-4-to-4 {
          grid-row-start: 4;
          grid-row-end: 5;
        }

        .talk-from-4-to-5 {
          grid-row-start: 4;
          grid-row-end: 6;
        }

        .talk-from-5-to-5 {
          grid-row-start: 5;
          grid-row-end: 6;
        }

        .talk-from-5-to-6 {
          grid-row-start: 5;
          grid-row-end: 7;
        }

        .talk-from-6-to-6 {
          grid-row-start: 6;
          grid-row-end: 7;
        }

        .talk-from-6-to-7 {
          grid-row-start: 6;
          grid-row-end: 8;
        }

        .talk-from-7-to-7 {
          grid-row-start: 7;
          grid-row-end: 8;
        }

        .talk-from-7-to-8 {
          grid-row-start: 7;
          grid-row-end: 9;
        }

        .talk-from-8-to-8 {
          grid-row-start: 8;
          grid-row-end: 9;
        }

        .talk-from-8-to-9 {
          grid-row-start: 8;
          grid-row-end: 10;
        }

        .talk-from-9-to-9 {
          grid-row-start: 9;
          grid-row-end: 10;
        }

        .talk-from-9-to-10 {
          grid-row-start: 9;
          grid-row-end: 11;
        }

        .talk-from-10-to-10 {
          grid-row-start: 10;
          grid-row-end: 11;
        }

        .talk-from-10-to-11 {
          grid-row-start: 10;
          grid-row-end: 12;
        }

        .talk-from-11-to-11 {
          grid-row-start: 11;
          grid-row-end: 12;
        }

        .talk-from-11-to-12 {
          grid-row-start: 11;
          grid-row-end: 13;
        }

        .talk-from-12-to-12 {
          grid-row-start: 12;
          grid-row-end: 13;
        }

        .talk-from-12-to-13 {
          grid-row-start: 12;
          grid-row-end: 14;
        }

        .talk-from-13-to-13 {
          grid-row-start: 13;
          grid-row-end: 14;
        }

        .talk-from-13-to-14 {
          grid-row-start: 13;
          grid-row-end: 15;
        }

        .talk-from-14-to-14 {
          grid-row-start: 14;
          grid-row-end: 15;
        }

        .talk-from-14-to-15 {
          grid-row-start: 14;
          grid-row-end: 16;
        }

        .talk-from-15-to-15 {
          grid-row-start: 15;
          grid-row-end: 16;
        }

        .talk-from-15-to-16 {
          grid-row-start: 15;
          grid-row-end: 17;
        }

        .talk-from-16-to-16 {
          grid-row-start: 16;
          grid-row-end: 17;
        }

        .talk-from-16-to-17 {
          grid-row-start: 16;
          grid-row-end: 18;
        }

        .talk-from-17-to-17 {
          grid-row-start: 17;
          grid-row-end: 18;
        }

        .talk-from-17-to-18 {
          grid-row-start: 17;
          grid-row-end: 19;
        }

        .talk-from-18-to-18 {
          grid-row-start: 18;
          grid-row-end: 19;
        }

        .talk-from-18-to-19 {
          grid-row-start: 18;
          grid-row-end: 20;
        }

        .talk-from-19-to-19 {
          grid-row-start: 19;
          grid-row-end: 20;
        }

        .talk-from-19-to-20 {
          grid-row-start: 19;
          grid-row-end: 21;
        }

        .talk-from-20-to-20 {
          grid-row-start: 20;
          grid-row-end: 21;
        }

        .talk-from-20-to-21 {
          grid-row-start: 20;
          grid-row-end: 22;
        }

        .talk-from-21-to-21 {
          grid-row-start: 21;
          grid-row-end: 22;
        }
      }
    }
  }
}
