<div class="schedule-dialog">
  <div class="close-button-container">
    <a (click)="close()" class="close-button">
      <i class="material-icons">close</i>
    </a>
  </div>
  <h1 class="title">
    Schedule
  </h1>
  <div class="body">
    <div class="schedule">
      <div class="time-slot-switch-container">
        <div class="time-slot-switch" *ngFor="let timeSlot of timeSlots" [ngClass]="{'active': timeSlot.id === selectedTimeSlotId}" (click)="changeSelectedTimeSlot(timeSlot.id)">
          <p class="time-slot-switch-title">{{timeSlot.text}}</p>
        </div>
      </div>
      <div class="halls">
        <div class="hall" *ngFor="let track of timeSlotTracks[selectedTimeSlotId]">
          <p class="hall-title">{{track.name}}</p>
        </div>
      </div>
      <div class="times">
        <div class="time" *ngFor="let time of times">
          <p class="time-title">{{time}}:00</p>
        </div>
      </div>
      <div class="tracks" [ngClass]="'tracks-rows-' + getRowsCount(selectedTimeSlotId)">
        <ng-container *ngIf="showTracks === true">
          <ng-container *ngFor="let talk of timeSlotSessions[selectedTimeSlotId]">
            <div [ngClass]="['talk-from-' + talk.rowStart + '-to-' + talk.rowEnd, 'talk-hall-' + talk.columnStart]"
                 class="schedule-item">
              <p>{{talk.name}}</p>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
