<div class="schedule-dialog">
  <div class="close-button-container">
    <a (click)="close()" class="close-button">
      <i class="material-icons">close</i>
    </a>
  </div>
  <h1 class="title">
    Schedule
  </h1>
  <h2 style="margin-top: 30px; margin-bottom: 15px;" class="legend">Technologies</h2>
  <div style="width: 100%; text-align: center; ">
      <span *ngFor="let tag of tags | async">
          <span [style.border-color]="tag.color" [style.color]="tag.color" style="border-radius: 24px;border: 3px solid currentColor; min-width: 20px; margin: 10px;  padding: 4px 8px; background-color: white">{{tag.type}}</span>
      </span>
  </div>
  <div class="body">
    <div class="schedule">
      <div class="time-slot-switch-container">
        <div class="time-slot-switch" *ngFor="let timeSlot of timeSlots"
             [ngClass]="{'active': timeSlot.id === selectedTimeSlotId}" (click)="changeSelectedTimeSlot(timeSlot.id)">
          <p class="time-slot-switch-title">{{timeSlot.text}}</p>
        </div>
      </div>
      <div class="halls hide-on-mobile">
        <div class="hall" *ngFor="let track of timeSlotTracks[selectedTimeSlotId]" [@fadeInOut]>
          <p class="hall-title">{{track.name}}</p>
        </div>
      </div>
      <div *ngIf="timesMobile[selectedTimeSlotId] && timesMobile[selectedTimeSlotId].length === 14"
      class="tracks-mobile">
        <div *ngFor="let group of timesMobile[selectedTimeSlotId] | groupSort" class="track-group-mobile">
          <div class="time-title">{{group.time}}</div>
          <div class="track-container">
            <div *ngFor="let talk of group.talks" class="track-mobile" [ngClass]="{'full-row': talk.fullRow}">
              <app-talk [talk]="talk" (click)="viewDetailSession(talk.id)" [@fadeInOut]></app-talk>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
