<div class="schedule-dialog">
  <div class="close-button-container">
    <a (click)="close()" class="close-button" >
      <i class="material-icons">close</i>
    </a>
  </div>
  <h1 class="title">
    Schedule
  </h1>
  <div class="body">
    <div class="schedule">
      <div class="halls">
        <div class="hall">
          <p class="hall-title">Hall A</p>
        </div>
        <div class="hall">
          <p class="hall-title">Hall B</p>
        </div>
        <div class="hall">
          <p class="hall-title">Hall C</p>
        </div>
      </div>
      <div class="times">
        <div class="time">
          <p class="time-title">9:00</p>
        </div>
        <div class="time">
          <p class="time-title">10:00</p>
        </div>
        <div class="time">
          <p class="time-title">11:00</p>
        </div>
        <div class="time">
          <p class="time-title">12:00</p>
        </div>
        <div class="time">
          <p class="time-title">13:00</p>
        </div>
        <div class="time">
          <p class="time-title">14:00</p>
        </div>
        <div class="time">
          <p class="time-title">15:00</p>
        </div>
        <div class="time">
          <p class="time-title">16:00</p>
        </div>
        <div class="time">
          <p class="time-title">17:00</p>
        </div>
        <div class="time">
          <p class="time-title">18:00</p>
        </div>
        <div class="time">
          <p class="time-title">19:00</p>
        </div>
        <div class="time">
          <p class="time-title">20:00</p>
        </div>
      </div>
      <div class="tracks">
        <div class="keynote schedule-item">
          <p>Keynote</p>
        </div>
        <div class="track-from-2-to-3 track track-hall-1 schedule-item">
          <p class="track-title">Playing metal for 50 years</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-2-to-3 track track-hall-2 schedule-item">
          <p class="track-title">Crazy Train</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-2-to-3 track track-hall-3 schedule-item">
          <p class="track-title">Mama I am coming home</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-4-to-4 track track-hall-1 schedule-item">
          <p class="track-title">Shot in the dark</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-5-to-5 track track-hall-1 schedule-item">
          <p class="track-title">Bark at the moon</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-4-to-5 track track-hall-2 schedule-item">
          <p class="track-title">Let it die</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-4-to-4 track track-hall-3 schedule-item">
          <p class="track-title">Suicide solution</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-5-to-5 track track-hall-3 schedule-item">
          <p class="track-title">I don't know</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-6-to-6 track track-hall-1 schedule-item">
          <p class="track-title">Let me hear you scream</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-6-to-6 track track-hall-2 schedule-item">
          <p class="track-title">Paranoid</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-6-to-6 track track-hall-3 schedule-item">
          <p class="track-title">I don't know</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="lunch schedule-item">
          <p>Lunch</p>
        </div>
        <div class="track-from-8-to-9 track track-hall-1 schedule-item">
          <p class="track-title">Playing metal for 50 years</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-8-to-9 track track-hall-2 schedule-item">
          <p class="track-title">Crazy Train</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-8-to-9 track track-hall-3 schedule-item">
          <p class="track-title">Mama I am coming home</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-10-to-10 track track-hall-1 schedule-item">
          <p class="track-title">Shot in the dark</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-11-to-11 track track-hall-1 schedule-item">
          <p class="track-title">Bark at the moon</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-10-to-10 track track-hall-2 schedule-item">
          <p class="track-title">Shot in the dark</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-11-to-11 track track-hall-2 schedule-item">
          <p class="track-title">Bark at the moon</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-10-to-11 track track-hall-3 schedule-item">
          <p class="track-title">Shot in the dark</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-12-to-13 track track-hall-1 schedule-item">
          <p class="track-title">Shot in the dark</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-12-to-13 track track-hall-2 schedule-item">
          <p class="track-title">Bark at the moon</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-12-to-12 track track-hall-3 schedule-item">
          <p class="track-title">Shot in the dark</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-13-to-13 track track-hall-3 schedule-item">
          <p class="track-title">Bark at the moon</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-14-to-15 track track-hall-1 schedule-item">
          <p class="track-title">Playing metal for 50 years</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-14-to-15 track track-hall-2 schedule-item">
          <p class="track-title">Crazy Train</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-14-to-15 track track-hall-3 schedule-item">
          <p class="track-title">Mama I am coming home</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-16-to-16 track track-hall-1 schedule-item">
          <p class="track-title">Shot in the dark</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-17-to-17 track track-hall-1 schedule-item">
          <p class="track-title">Bark at the moon</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-16-to-16 track track-hall-2 schedule-item">
          <p class="track-title">Shot in the dark</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-17-to-17 track track-hall-2 schedule-item">
          <p class="track-title">Bark at the moon</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-16-to-17 track track-hall-3 schedule-item">
          <p class="track-title">Shot in the dark</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-18-to-19 track track-hall-1 schedule-item">
          <p class="track-title">Shot in the dark</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-18-to-19 track track-hall-2 schedule-item">
          <p class="track-title">Bark at the moon</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-18-to-18 track track-hall-3 schedule-item">
          <p class="track-title">Shot in the dark</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-19-to-19 track track-hall-3 schedule-item">
          <p class="track-title">Bark at the moon</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-20-to-21 track track-hall-1 schedule-item">
          <p class="track-title">Shot in the dark</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-20-to-21 track track-hall-2 schedule-item">
          <p class="track-title">Bark at the moon</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-20-to-20 track track-hall-3 schedule-item">
          <p class="track-title">Shot in the dark</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="track-from-21-to-21 track track-hall-3 schedule-item">
          <p class="track-title">Bark at the moon</p>
          <p class="speaker">Ozzy Osbourne</p>
        </div>
        <div class="closing-keynote schedule-item">
          <p>Closing keynote</p>
        </div>
        <div class="afterparty schedule-item">
          <p>Afterparty</p>
        </div>
      </div>
    </div>
  </div>
</div>
