
  
  app-partner-logo {
    flex-basis: 300px;
    margin: 5px;
  }

.main-block{
    width: 100%;
    min-height: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text-block{
    height: 300px;
    width: 300px;
    border: 1px solid white;
    margin: 8px;
    border-radius: 9px;
    padding: 15px;
    color: white;
    text-align: justify;
    box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff;
}

.photo-block{
    height: 300px;
    width: 300px;
    border: 1px solid white;
    margin: 8px;
    border-radius: 9px;
    padding: 15px;
    color: white;
    text-align: justify;
    box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff;
}
  