<div class="container">
  <a mat-icon-button href="https://twitter.com/DevFest_CZ" target="_blank" class="link">
    <mat-icon svgIcon="twitter" class="icon"></mat-icon>
  </a>
  <a mat-icon-button href="https://www.instagram.com/devfestcz/" target="_blank" class="link">
    <mat-icon svgIcon="instagram" class="icon"></mat-icon>
  </a>
  <a mat-icon-button href="https://www.facebook.com/DevFestCZ" target="_blank" class="link">
    <mat-icon svgIcon="facebook" class="icon"></mat-icon>
  </a>
</div>
