# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/functions/lib
.firebase

# dependencies
/node_modules
/functions/node_modules
/functions/package-lock.json
/functions/yarn.lock
/package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
firebase-debug.log
/functions/firebase-debug.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# IntelliJ Idea
ANGULAR-devfest.iml
/organizers/
*.iml

# Config
/config.json
