service cloud.firestore {
  match /databases/{database}/documents {
    match /partners/{document=**} {
      allow read;
    }
    match /teamMembers/{document=**} {
      allow read;
    }
    match /ticketGroups/{document=**} {
      allow read;
    }
    match /invoiceRequests/{document=**} {
      allow write;
    }
  }
}
