.footer-container {
  width: 100%;
  color: white;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.links-content {
  margin: 20px;
  flex-basis: 300px;
  text-align: center;
}

.button-container {
  margin: 20px;
  flex-basis: 300px;
  text-align: center;
}

.previous-years {
  font-size: 1.7rem;
  font-weight: 600;
}

.link {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
}

.p-button {
  margin: 5px;
  width: 230px;
  font-size: 1.4rem;
}
