.footer-container {
  display: grid;
  border-top: 2px solid #bdbdbd;
  padding: 0 1.375rem 1.375rem;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  .content-container {
    display: grid;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    grid-row-gap: 1rem;

    .links-content {
      .previous-years {
        color: #424242;
        font-size: 1.4rem;
        margin-bottom: 0;
        font-weight: 600;
      }
      .list {
        padding-left: 0;
        list-style: none;
        margin-top: 0.5rem;
        margin-bottom: 0;
        li {
          padding: 0.225rem 0;
        }
        li:last-child {
          padding: 0.225rem 0 0 0;
        }
        .link {
          color: #616161;
          font-size: 1.1rem;
          text-decoration: none;
        }

        a.mat-icon-button {
          height: 24px;
          width: 24px;
          position: relative;
          top: 4px;
          left: 12px;
          .icon-movie {
            margin-bottom: 13px;
          }
        }
      }
    }

    .button-container {
      display: grid;
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      grid-gap: 1rem;
      .partner-button {
        font-size: 1.4rem;
        padding: 0.25rem 0;
        width: 100%;
      }
      .organizers-contact {
        font-weight: 500;
        color: black;
        font-size: 0.9rem;
        margin: 0;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 360px) {
  .footer-container {
    .content-container {
      .button-container {
        .organizers-contact {
          font-size: 1.04rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 375px) {
  .footer-container {
    .content-container {
      .previous-years {
        font-size: 2.05rem;
      }
      .list {
        .link {
          font-size: 1.7rem;
        }
      }
      .button-container {
        .organizers-contact {
          font-size: 1.085rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 425px) {
  .footer-container {
    .content-container {
      .previous-years {
        font-size: 2.5rem;
      }
      .list {
        .link {
          font-size: 2.2rem;
        }
      }
      .button-container {
        .organizers-contact {
          font-weight: 400;
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer-container {
    padding: 0 3rem 3rem;
    .content-container {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;

      .links-content {
        grid-column-start: 1;
        grid-column-end: 1;
      }

      .button-container {
        display: grid;
        grid-column-start: 2;
        grid-column-end: 2;
        justify-content: end;
        grid-gap: 0;
        grid-template-rows: auto 1.125rem;

        .partner-button {
          grid-row-start: 1;
          grid-row-end: 1;
          align-self: center;
          justify-self: end;
          height: 2.8125rem;
        }

        .organizers-contact-container {
          display: grid;
          align-items: end;
          grid-row-start: 2;
          grid-row-end: 2;
          .organizers-contact {
            font-size: 1.4rem;
            font-weight: 400;
            text-align: right;
          }
        }
      }
    }
  }
}
