@import "../../../styles/colors";

.footer-container {
  display: grid;
  background: $dark-background;
  padding: 0 22px 22px;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  .content-container {
    display: grid;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    grid-row-gap: 16px;

    .links-content {
      .previous-years {
        color: white;
        font-size: 1.4rem;
        margin-bottom: 0;
        font-weight: 600;
      }
      .list {
        color: white;
        padding-left: 0;
        list-style: none;
        margin-top: 8px;
        margin-bottom: 0;
        li {
          padding: 4px 0;
        }
        li:last-child {
          padding: 4px 0 0 0;
        }
        .link {
          color: white;
          font-size: 1.1rem;
          text-decoration: none;
        }

        a.mat-icon-button {
          height: 24px;
          width: 24px;
          position: relative;
          top: 4px;
          left: 12px;
          .icon-movie {
            margin-bottom: 13px;
          }
        }
      }
    }

    .support-container{
      display: grid;
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      grid-gap: 16px;
      .we-support {
        color: white;
        font-size: 1.4rem;
        margin-bottom: 0;
        font-weight: 600;
      }
      .wtm-logo{
        width: 100px;
      }
    }

    .button-container {
      display: grid;
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      grid-gap: 16px;
      .partner-button {
        font-size: 1.4rem;
        padding: 4px 0;
        width: 100%;
      }
      .coc-button{
        font-size: 1.4rem;
        padding: 4px 0;
        width: 100%;        
      }
      .organizers-contact {
        color: white;
        font-weight: 500;
        font-size: 0.9rem;
        margin: 0;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 360px) {
  .footer-container {
    .support-container {
      .wtm-logo{
        width: 100px;
      }
    }
    .content-container {
      .button-container {
        .organizers-contact {
          font-size: 1.04rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 375px) {
  .footer-container {
    .support-container {
      .we-support{
        font-size: 2.05rem;
      }
      .wtm-logo{
        width: 100px;
      }
    }
    .content-container {
      .previous-years {
        font-size: 2.05rem;
      }
      .list {
        .link {
          font-size: 1.7rem;
        }
      }
      .button-container {
        .organizers-contact {
          font-size: 1.085rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 425px) {
  .footer-container {
    .support-container {
      .we-support{
        font-size: 2.5rem;
      }
      .wtm-logo{
        width: 150px;
      }
    }
    .content-container {
      .previous-years {
        font-size: 2.5rem;
      }
      .list {
        .link {
          font-size: 2.2rem;
        }
      }
      .button-container {
        .organizers-contact {
          font-weight: 400;
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer-container {
    padding: 16px 48px 48px;
    .content-container {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;

      .links-content {
        grid-column-start: 1;
        grid-column-end: 1;
      }

      .support-container{
        grid-column-start: 2;
        grid-column-end: 2;
        .wtm-logo{
          width: 150px;
        }
      }

      .button-container {
        display: grid;
        grid-column-start: 3;
        grid-column-end: 3;
        justify-content: end;
        grid-gap: 0;
        grid-template-rows: auto 18px;

        .coc-button{
          grid-row-start: 1;
          grid-row-end: 1;
          align-self: center;
          justify-self: end;
          height: 45px;
        }

        .partner-button {
          grid-row-start: 2;
          grid-row-end: 2;
          align-self: center;
          justify-self: end;
          height: 45px;
        }

        .organizers-contact-container {
          display: grid;
          align-items: end;
          grid-row-start: 3;
          grid-row-end: 3;
          .organizers-contact {
            font-size: 1.4rem;
            font-weight: 400;
            text-align: right;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .footer-container {
    padding: 16px 80px 80px;
  }
}

@media only screen and (min-width: 2560px) {
  .footer-container {
    padding: 16px 96px 96px;
  }
}
