<div class="footer-container">
  <div class="wrapper">
    <div class="links-content">
      <div class="previous-years">Previous years</div>
      <div>
        <div>
            <a href="https://2018.devfest.cz/" class="link">Prague 2018</a>
        </div>
        <div>
            <a href="https://2017.devfest.cz/" class="link">Prague 2017</a>
        </div>
        <div>
            <a href="https://2016.devfest.cz/" class="link">Pilsen 2016</a>
        </div>
        <div>
            <a href="https://2015.devfest.cz/" class="link">Ostrava 2015</a>
        </div>
        <div>
            <a href="https://2014.devfest.cz/" class="link">Prague 2014</a>
        </div>
        <div>
            <a href="https://2013.devfest.cz/" class="link">Prague</a> & <a href="https://pardubice2013.devfest.cz/"
            class="link">Pardubice 2013</a>
        </div>
        <div>
            <a href="https://2012.devfest.cz/" class="link">Prague 2012</a>
        </div>
      </div>
    </div>
    <div class="button-container">
      <div>
        <a href="https://devfest.withgoogle.com/code-of-conduct"  class="p-button" target="_blank" rel="noopener"
          mat-raised-button color="primary"> Code of conduct
        </a>
      </div>
      <div>
        <a href="mailto:jiri.bartusek@gug.cz" target="_blank" mat-raised-button  class="p-button"
          color="accent">Become
          a partner</a>
      </div>
      <div>
        <a href="mailto:devfest@gug.cz" target="_blank" mat-raised-button  class="p-button" color="accent">Contact
          us</a>
      </div>
    </div>
  </div>
</div>