<div class="footer-container">
  <div class="content-container">
    <div class="links-content">
      <h2 class="previous-years">Previous years</h2>
      <ul class="list">
        <li>
          <a href="https://2017.devfest.cz/" class="link">Prague 2017</a>
          <a mat-icon-button href="https://www.youtube.com/watch?v=NZMoz9HOE4s" target="_blank">
            <mat-icon svgIcon="movie" class="icon-movie"></mat-icon>
          </a>
        </li>
        <li>
          <a href="https://2016.devfest.cz/" class="link">Pilsen 2016</a>
        </li>
        <li>
          <a href="https://2015.devfest.cz/" class="link">Ostrava 2015</a>
        </li>
        <li>
          <a href="https://2014.devfest.cz/" class="link">Prague 2014</a>
        </li>
        <li>
          <a href="https://2013.devfest.cz/" class="link">Prague & Pardubice 2013</a>
        </li>
        <li>
          <a href="https://2012.devfest.cz/" class="link">Prague 2012</a>
        </li>
      </ul>
    </div>
    <div class="button-container">
      <button mat-raised-button class="partner-button" color="accent" (click)="mailTo()">Become a partner</button>
      <div class="organizers-contact-container">
        <h6 class="organizers-contact"><span>Organized by <a href="http://www.gug.cz/cs" target="_blank">GUG.cz z.s.</a> | <a href="mailto:devfest@gug.cz">devfest@gug.cz</a></span></h6>
      </div>
    </div>
  </div>
</div>
