<section>
    <div class="background-gradient">
        <div class="container">
            <div class="information-1">
                <app-media-graphics></app-media-graphics>
            </div>
            <div class="information-2">
                <app-media-contact></app-media-contact>
            </div>
            <div class="information-3">
                <app-media-press></app-media-press>
            </div>
            <div class="information-4">
                <app-media-others></app-media-others>
            </div>
        </div>
    </div>
</section>
