.member-card {
  height: 400px;
  width: 320px;
  color: white;
  text-align: center;
  background-image: url(../../../../assets/projector.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.name {
  margin-bottom: 0px;
  font-size: 30px;
}

.position {
  margin-top: 5px;
}

.photo-holder {
  height: 170px;
  position: relative;
}

.photo {
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateX(-50%)
}

.socials {
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 40px;
}
