.team-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .close-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .close-button {
      color: #333333;
      cursor: pointer;
      position: fixed;
      text-decoration: none;
      outline: none;
    }
  }

  .title {
    font-family: MyMediaval, serif;
    font-size: 3rem;
    margin-top: 0;
    text-align: center;
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .organizers-container {
      display: grid;
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      grid-template-columns: 215px;

      .organizer {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 215px;

        .image-organizer {
          border-radius: 50%;
          width: 128px;
          height: 128px;
        }
      }
    }
  }

  .gug-logo-container {
    display: flex;
    justify-content: center;

    .gug-logo {
      padding: 24px 0;
      height: 36px;
      width: 150px;
      opacity: 0.5;
      filter: brightness(0) invert(1);
    }
  }

  .loading-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 100%;

    .loading-image {
      width: 100%;
    }
  }
}

@media screen and (min-width: 600px) {
  .team-section .body {
    .organizers-container {
      grid-template-columns: 215px 215px;
    }
  }
}

@media screen and (min-width: 768px) {
  .team-section {
    .body {
      .organizers-container {
        grid-template-columns: 215px 215px 215px;
      }
    }

    .loading-container {
      .loading-image {
        width: 80%;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .team-section {
    .body {
      .organizers-container {
        grid-template-columns: 215px 215px 215px 215px;
      }
    }

    .loading-container {
      .loading-image {
        max-width: 768px;
        width: 60%;
      }
    }
  }
}
