.member-card{
  height: 400px;
  width: 320px;
  color: white;
  text-align: center;
  background-image: url(../../../assets/projector.png);
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.name{
  margin-bottom: 0px;
  font-size: 30px;
}

.position{
  margin-top: 5px;
}

.photo-holder{
  height: 180px;
}

.photo{
  height: 100%;
  opacity: 0;
}