mat-card{
    margin: 5px;
    width: 200px;
    text-align: center;
}

.position{
  margin-top: 0px;
  margin-bottom: 5px;
}

.name{
  margin-bottom: 5px;
}

.socials{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 40px;
}

.image-holder{
  height: 232px;
}