<div *ngIf="(photoUrl && photoUrlCringe) | async" [@fadeInOut] class="member-card">
  <h2 class="name">{{name}}</h2>
  <h3 class="position">{{position}}</h3>
  <div (mouseleave)="setNormal()" (mouseover)="setCringe()">
    <div class="photo-holder">
      <img (load)="changePhotoVisibilityNormal()" [@fadeImage]="visibilityPhotoNormal"
           [alt]="name" [attr.src]="photoUrl | async"
           class="photo">
      <img (load)="changePhotoVisibilityCringe()" [@fadeImage]="visibilityPhotoCringe"
           [alt]="name" [attr.src]="photoUrlCringe | async"
           class="photo">
    </div>
    <div *ngIf="socials" [@infoHide]="photoMode" class="socials">
      <a *ngFor="let social of socials | socials" [href]="social.url" mat-icon-button target="_blank">
        <mat-icon [svgIcon]="social.key"></mat-icon>
      </a>
    </div>
  </div>
</div>
