<mat-card color="primary" [@fadeInOut]>
  <mat-card-header>
    <mat-card-title>{{name}}</mat-card-title>
    <mat-card-subtitle>{{position}}</mat-card-subtitle>
  </mat-card-header>
  <div class="image-holder">
      <img mat-card-image 
      *ngIf="photoUrl | async as photo" 
      [@fadeImage]="visiblePhoto" 
      (load)="visiblePhoto = true" 
      [src]="photo" 
      [alt]="name">
  </div>
  <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
