mat-card{
    width: 200px;
    text-align: center;
    z-index: 3;
    position: absolute;
}

.member-holder{
  height:300px; 
  width: 250px; 
  position: relative;
  margin: 5px;
}

.position{
  margin-top: 0px;
  margin-bottom: 5px;
}

.name{
  margin-bottom: 5px;
}

.socials{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 40px;
}

img{
  height: 100%;
}

.image-holder{
  z-index: 1;
  height: 180px;
  width: 100%;
  text-align: center;
  position: absolute
}