<div class="block">
  <div>
    <h3 class="title">
      {{title}}
    </h3>
  </div>
  <div class="talk-info">
      <span *ngIf="level">{{level}} /</span><span *ngIf="language">{{language}} /</span> {{duration}} min
  </div>
  <div class="speakers-info" *ngIf="speaker1 || speaker2">
    <div class="avatars">
      <div class="avatar" *ngIf="speaker1">
        <app-tag-avatar [firestorageImagePath]="speaker1.photoPath" [name]="speaker1.name" [tagColor]="speaker1.tagColor"></app-tag-avatar>
      </div>
      <div class="avatar" *ngIf="speaker2">
        <app-tag-avatar  [firestorageImagePath]="speaker2.photoPath" [name]="speaker2.name" [tagColor]="speaker2.tagColor"></app-tag-avatar>
      </div>
    </div>
    <div class="info">
      <div class="name">
        <div class="text">
          {{speaker1.name}} <span *ngIf="speaker2">& {{speaker2.name}}</span>
        </div>
      </div>
      <div class="position">
        <div class="text">
          {{speaker1.companyPosition}} <span *ngIf="speaker2">/ {{speaker2.companyPosition}}</span> / {{speaker1.company}}
        </div>
      </div>
    </div>
  </div>
</div>
