<div style="font-family: MyMediaval; font-size: 3rem">
    Graphics
</div>
<div *ngIf="imageUrls; else loading">
    <div *ngFor="let url of imageUrls" style="display: flex; margin-top:10px;">
        <img  [src]="url.thumbUrl">
        <span style="width: 50%; margin: auto;" >{{url.name}}</span>
        <button style="width: 25%"  mat-icon-button (click)="downloadGraphic(url.url)">
            <mat-icon>get_app</mat-icon>
        </button>
    </div>
</div>
<ng-template #loading>
    <img src="assets/mediaval-loading.gif">
</ng-template>