.media-graphics-container {
  .title {
    font-family: MyMediaval, serif;
    font-size: 2.5rem;
    text-align: center;
    margin: 0 0 8px;
  }

  .image-item {
    display: grid;
    grid-template-columns: 72px 1fr 40px;
    grid-row-gap: 16px;

    .thumbnail {
      height: 32px;
    }

    .name {
      font-size: 1rem;
    }

    .thumbnail, .download-button {
      justify-self: center;
    }

    .thumbnail, .name, .download-button {
      align-self: center;
    }
  }

  .loading-image {
    width: 100%;
  }
}

@media only screen and (min-width: 1376px) {
  .media-graphics-container .title {
    font-size: 3rem;
  }
}
