<div *ngIf="(photoUrl && photoUrlCringe) | async" [@fadeInOut] class="member-card">
  <div (mouseleave)="setNormal()" (mouseover)="setCringe()" style="padding-top: 53px">
    <div class="photo-holder">
      <img (load)="changePhotoVisibilityNormal()" [@fadeImage]="visibilityPhotoNormal" [attr.src]="photoUrl | async"
        class="photo">
      <img (load)="changePhotoVisibilityCringe()" [@fadeImage]="visibilityPhotoCringe"
        [attr.src]="photoUrlCringe | async" class="photo">
    </div>
  </div>
</div>