.member-card {
  height: 400px;
  width: 320px;
  color: white;
  text-align: center;
  background-image: url(../../../assets/projector.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}


.photo-holder {
  height: 170px;
  position: relative;
}

.photo {
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateX(-50%)
}
