<div class="container">
  <h2 class="partners-title">Partners</h2>
  <div class="partner-section">
    <h3 class="section-title">Organizer</h3>
    <div class="logos-container">
      <a href="http://www.gug.cz/" class="link" target="_blank" title="GUG.cz">
        <img class="logo" src="assets/partners/GUG.png" alt="GUG.cz">
      </a>
    </div>
  </div>
  <div class="partner-section">
    <h3 class="section-title">Terabyte partners</h3>
    <div class="logos-container">
      <a href="http://www.adastra.one/" class="link" target="_blank" title="AdastraOne">
        <img class="logo" src="assets/partners/adastraone.png" alt="AdastraOne">
      </a>
      <a href="https://www.eman.cz/" class="link" target="_blank" title="EMAN">
        <img class="logo" src="assets/partners/eman.png" alt="EMAN">
      </a>
    </div>
  </div>
  <div class="partner-section">
    <h3 class="section-title">Gigabyte partners</h3>
    <div class="logos-container">
      <a href="https://www.jetbrains.com/" class="link" target="_blank" title="Jetbrains">
        <img class="logo" src="assets/partners/jetbrains.png" alt="Jetbrains">
      </a>
      <a href="https://www.mewssystems.com/" class="link" target="_blank" title="Mews">
        <img class="logo" src="assets/partners/Mews.png" alt="Mews">
      </a>
      <a href="http://www.msd.com/" class="link" target="_blank" title="MSD">
        <img class="logo" src="assets/partners/MSD.png" alt="MSD">
      </a>
      <a href="https://grow.google/intl/europe/" class="link" target="_blank" title="Google">
        <img class="logo" src="assets/partners/google.png" alt="Google">
      </a>
      <a href="https://www.revolgy.com/" class="link" target="_blank" title="Revolgy">
        <img class="logo" src="assets/partners/revolgy.png" alt="Revolgy">
      </a>
      <a href="https://www.toptal.com" class="link" target="_blank" title="Toptal">
        <img class="logo" src="assets/partners/toptal.png" alt="Toptal">
      </a>
      <a href="https://www.vistaprint.com" class="link" target="_blank" title="Vistaprint">
        <img class="logo" src="assets/partners/vistaprint.png" alt="Vistaprint">
      </a>
    </div>
  </div>
  <div class="partner-section">
    <h3 class="section-title">Megabyte partners</h3>
    <div class="logos-container">
      <a href="https://fnx.io/" class="link" target="_blank" title="fnxio">
        <img class="logo" src="assets/partners/fnxio.jpg" alt="fnxio">
      </a>
    </div>
  </div>
  <div class="partner-section">
    <h3 class="section-title">Kilobyte partners</h3>
    <div class="logos-container">
      <a href="https://www.bigclown.com/" class="link" target="_blank" title="BigClown">
        <img class="logo" src="assets/partners/bigclown.png" alt="BigClown">
      </a>
    </div>
  </div>
  <div class="partner-section">
    <h3 class="section-title">Main media partner</h3>
    <div class="logos-container">
      <a href="https://dotekomanie.cz/" class="link" target="_blank" title="Dotekománie.cz">
        <img class="logo" src="assets/partners/dotekomanie.png" alt="Dotekománie.cz">
      </a>
    </div>
  </div>
  <div class="partner-section">
    <h3 class="section-title">Media partner</h3>
    <div class="logos-container">
      <a href="https://meeto.info/" class="link" target="_blank" title="Meeto">
        <img class="logo" src="assets/partners/meeto.png" alt="meeto">
      </a>
      <a href="https://soundcloud.com/czpodcast-1" class="link" target="_blank" title="CZPodcast">
        <img class="logo" src="assets/partners/czpodcast.png" alt="CZPodcast">
      </a>
      <a href="https://www.zdrojak.cz/" class="link" target="_blank" title="Zdroják.cz">
        <img class="logo" src="assets/partners/zdrojak.png" alt="Zdroják.cz">
      </a>
      <a href="https://www.zive.cz/" class="link" target="_blank" title="Živě.cz">
        <img class="logo" src="assets/partners/zive.png" alt="Živě.cz">
      </a>
      <a href="https://www.startupjobs.cz/" class="link" target="_blank" title="StartupJobs">
        <img class="logo" src="assets/partners/StartupJobs.png" alt="StartupJobs">
      </a>
      <a href="https://www.czechitas.cz/" class="link" target="_blank" title="Czechitas">
        <img class="logo" src="assets/partners/czechitas.png" alt="Czechitas">
      </a>
    </div>
  </div>
</div>
