<div class="container">
  <h2 class="partners-title">Partners</h2>
  <div class="partner-section" *ngFor="let partnerSection of partners" [@fadeInOut]>
    <div *ngIf="partnerSection | async as section">
      <h3 class="section-title" [@fadeInOut]>{{section.name}}</h3>
      <div class="logos-container" *ngIf="section.logos as logos">
        <span *ngFor="let logo of logos" [@fadeInOut]>
          <a *ngIf="logo.downloadUrl | async as photo" [href]="logo.url" class="link" target="_blank"
             [title]="logo.name">
            <img [@fadeImage]="visiblePhotos.includes(logo.id)" class="logo" [src]="photo"
                 (load)="setVisibilityOfLogo(logo.id)" [alt]="logo.name">
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
