.media-others-container {

  .title {
    font-family: MyMediaval, serif;
    font-size: 3rem;
    text-align: center;
  }

  .link-container {
    display: flex;
    justify-content: center;

    .link {
      text-align: center;
    }
  }

  .loading-image-container {
    display: flex;
    justify-content: center;
    .loading-image {
      height: 75%;
      width: 75%;
    }
  }
}
