mat-card.press-card {
  width: 256px;
  height: 100%;
  min-height: 400px;
  max-height: 400px;

  .content {
    .list {
      font-size: 1rem;
      .link-container {
        padding: 8px 0;
        width: 100%;
        .link {
          width: 100%;
          margin: 5px;
          white-space: normal !important;
        }
      }
    }
  }
}
