<div class="media-others-container">
  <div class="title">
      Media releases
  </div>
  <div *ngIf="$press | async;let press; else loadingImage" class="flags-container">
    <div *ngFor="let one of press; let i = index" class="link-container">
      <a [href]="one.url" class="link" target="_blank">
        <img [src]="(i + 1) % 2 === 0 ? 'assets/stuha-even.png' : 'assets/stuha-odd.png'" alt="stuha" class="image">
        <span class="text">{{one.name}}</span>
      </a>
    </div>
  </div>
</div>

<ng-template #loadingImage>
  <div class="loading-image-container">
    <img class="loading-image" src="assets/mediaval-loading.gif">
  </div>
</ng-template>
