<div class="venue-section">
  <div class="close-button-container">
    <a (click)="close()" class="close-button">
      <i class="material-icons">close</i>
    </a>
  </div>
  <h1 class="title">
    Info
  </h1>
  <div class="info-holder">
    <div class="first-half">
      <h3 class="title">Venue</h3>
      <p class="informations">Ready to regroup in the royal castle of DevFest?
        Come and see the famous 100 towers of mother Prague - there you will find the 
        <a href="https://www.google.com/maps/place/Pragovka/@50.110716,14.510068,19z/data=!4m5!3m4!1s0x0:0x7505833b6ea5e6c8!8m2!3d50.110443!4d14.5099679?hl=cs-CZ&shorturl=1" class="map-link">Pragovka</a>
         fortress of technology.</p>
      <p class="informations">
          Kolbenova 923/34a, 190 00 Praha 9
      </p>
      <app-venue-position-map></app-venue-position-map>
      <div class="venue-photo-container">
        <img class="venue-photo" src="assets/venue-photo.jpg">
      </div>
    </div>
    <div class="second-half">
      <div>
          <h4 class="community-title">Travel</h4>
          <div class="list-information">
            <ul>
              <li class="recommended">Metro: take Metro B to the station Kolbenova</li>
              <li>Car: There are not many parking places available</li>
              <li>Taxi: Taxis in Prague don’t have the best reputation. But you will be totally fine if you use Uber, Liftago or Taxify. They all have apps and are quite inexpensive.</li>
            </ul>
          </div>
      </div>
      <div>
        <img class="wtm-logo" src="assets/wtm.png">
        <div class="list-information">
          <ul>
            <li>Kids' corner</li>
            <li>Kids' food and place to warm your own food</li>
            <li>A place to change your child's diaper</li>
            <li>Sunday brunch in the city center</li>
            <li>Kids' admission is free (up to age 12)</li>
          </ul>
        </div>
      </div>
      <div>
        <h4 class="community-title">Community support tickets</h4>
        <div class="list-information">
          <ul>
            <li>Free parking in front of the venue</li>
            <li>Reserved seats in the first row of sessions</li>
            <li>Our enormous and neverending gratitude</li>
          </ul>
        </div>
      </div>
      <div>
        <h4 class="community-title">Food trucks / Lunch</h4>
        <p class="informations">
            We provide basic snacks during the day and for additional hungry knights and ladies there will be food trucks with burgers and other tasty meals.
        </p>
      </div>
    </div>

  </div>
</div>