<div style="width: 100%; text-align:center;">
  <div style="display: flex; flex-direction: row; flex-wrap: wrap; ">
    <div style="width: 20%">
      <app-media-graphics>

      </app-media-graphics>
    </div>
    <div style="width: 35%">
      <app-media-others>

      </app-media-others>
    </div>
    <div style="width: 45%">
      <app-media-press>
        
      </app-media-press>
    </div>
    <div style="width: 100%">
      <app-media-contact>
      </app-media-contact>
    </div>
  </div>
</div>