.media-dialog {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .close-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .close-button {
      color: #333333;
      cursor: pointer;
      text-decoration: none;
      outline: none;
    }
  }

  .media-container {
    display: grid;
    column-count: 1;
    flex-grow: 1;
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    align-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .media-dialog .media-container {
      column-count: 2;
      grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1376px) {
  .media-dialog {
    .media-container {
      grid-column-gap: 16px;
      column-count: 3;
      grid-template-columns: 0.75fr 1fr 1fr;
      align-content: space-between;

      .media-contact {
        grid-row: 2;
        grid-column: 1/4;
        height: 100%;
      }
    }
  }
}
