<div class="speaker-dialog" *ngIf="speaker | async as speak" [@fadeInOut] mat-dialog-content>
  <div class="card-column">
    <div class="header-container">
      <button mat-icon-button aria-label="Close speaker button." class="close-button" [mat-dialog-close]="true">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <div class="card-row">
      <div class="left-panel">
        <div class="avatar-holder">
          <app-tag-avatar [firestorageImagePath]="speak.photoPath" [name]="speak.name" [tagColor]="speak.tagColor">
          </app-tag-avatar>
        </div>
      </div>
      <div class="right-panel">
        <h1>{{speak.name}}</h1>
        <h4>
          {{speak.company}}
        </h4>
        <h4>
          {{speak.companyPosition}}
        </h4>
        <p>
          {{speak.bio}}
        </p>
        <div *ngIf="speak.socials" class="socials">
          <a tabindex="-1" *ngFor="let social of speak.socials | socials" [disableRipple]="true" [href]="social.url"
            mat-icon-button target="_blank">
            <mat-icon [svgIcon]="social.key"></mat-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="talk">
      <h3>{{speak.talkName}}</h3>
      <p>
        {{speak.talkDescription}}
      </p>
    </div>
  </div>
</div>