<div class="speaker-holder" *ngIf="speaker | async as speak" [@fadeInOut]>
  <mat-dialog-content>
    <h1>{{speak.name}}</h1>
    <div class="holder">
      <div class="wrapper">
        <div class="left-info">
          <div class="avatar-holder">
            <app-tag-avatar [firestorageImagePath]="speak.photoPath" [name]="speak.name" [tagColor]="speak.tagColor">
            </app-tag-avatar>
          </div>
          <h4>
            {{speak.company}}
          </h4>
          <h4>
            {{speak.companyPosition}}
          </h4>
          <div *ngIf="speak.socials" class="socials">
            <a tabindex="-1" *ngFor="let social of speak.socials | socials" [disableRipple]="true" [href]="social.url"
              mat-icon-button target="_blank">
              <mat-icon [svgIcon]="social.key"></mat-icon>
            </a>
          </div>
        </div>
        <div class="right-info">
          <div class="bio">
            <p>
              {{speak.bio}}
            </p>
          </div>
          <div class="talk">
            <h3>{{speak.talkName}}</h3>
            <p>
              {{speak.talkDescription}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>CLOSE</button>
  </mat-dialog-content>
</div>