.speaker-dialog {
  margin-bottom: 10px;
  max-height: 100% !important;
  height: 100%;
  width: 100%;
  padding: 12px 24px 24px 24px;

  .card-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    .header-container {
      display: flex;
      justify-content: flex-end;

      .close-button {
        position: relative;
        right: -18px;
      }
    }
  }

  .socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 40px;

    .mat-icon-button-focus-overlay { 
      background-color: transparent !important; 
    }
  }
}