mat-toolbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 999999;

  .home-logo {
    width: 100%;
  }

  .logo-button {
    max-width: 150px;
    width: 30%;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
