@import "../../../styles/colors";

.container {
  display: flex;
  padding: 22px 22px 0;
  min-height: calc(70vh - 44px);
  flex-direction: column;

  .tickets {
    display: flex;
    flex: 1;
    justify-content: center;

    .full-container {
      display: grid;
      column-count: 1;
      grid-gap: 8px;

      .vat-container {
        grid-column: 1;
        grid-row: 2;
        width: 100%;

        .vat-description {
          margin-top: 12px;
          text-align: right;
        }
      }

      .tickets-container {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        column-count: 1;
        grid-gap: 16px;
        column-gap: 8px;
        justify-content: center;
        align-items: center;
      }

      app-ticket {
        width: 250px;
        height: 380px;
      }

      .ticket-0 {
        grid-column: 1;
        grid-row: 1;
      }

      .ticket-1 {
        grid-column: 1;
        grid-row: 2;
      }

      .ticket-2 {
        grid-column: 1;
        grid-row: 3;
      }

      .ticket-3 {
        grid-column: 1;
        grid-row: 4;
      }

      .ticket-4 {
        grid-column: 1;
        grid-row: 5;
      }

      .app-loading-child .spinner {
        position: relative;
      }
    }
  }

  .help-text {
    text-align: center;

    a {
      color: inherit;
    }
  }

  .invoice {
    display: flex;
    margin: 0 13px 18px;
    align-items: center;
    flex-direction: column;

    .invoice-button {
      font-size: 22.4px;
      padding: 6px 0;
      margin: 16px 0;
      width: 250px;
    }

    .text {
      text-align: center;
      margin: 0;
    }
  }
}

.image-container {
  display: flex;
  min-height: calc(100vh - 51px - 29px - 48px);
  justify-content: center;
  align-items: center;

  .image {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 526px) {
  .container {
    .tickets {
      .tickets-container {
        column-count: 2;
        .ticket-0 {
          grid-column: 1;
          grid-row: 1;
        }

        .ticket-1 {
          grid-column: 2;
          grid-row: 1;
        }

        .ticket-2 {
          grid-column: 1;
          grid-row: 2;
        }

        .ticket-3 {
          grid-column: 2;
          grid-row: 2;
        }

        .ticket-4 {
          grid-column: 1;
          grid-row: 3;
        }

        app-ticket:nth-child(odd) {
          display: flex;
          justify-content: flex-end;
        }

        app-ticket:nth-child(even) {
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .image-container .image {
    height: 50%;
    width: 50%;
  }
}

@media only screen and (min-width: 1095px) {
  .container {
    .tickets {
      .tickets-container {
        column-count: 5;

        .ticket-0 {
          grid-column: 1;
          grid-row: 1;
        }

        .ticket-1 {
          grid-column: 2;
          grid-row: 1;
        }

        .ticket-2 {
          grid-column: 3;
          grid-row: 1;
        }

        .ticket-3 {
          grid-column: 4;
          grid-row: 1;
        }

        .ticket-4 {
          grid-column: 5;
          grid-row: 1;
        }

        app-ticket {
          height: 474px;
        }

        app-ticket.smaller {
          width: 200px;
          height: 438px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1376px) {
  .image-container {
    min-height: calc(90vh - 51px - 29px - 48px);
  }
}
