<div class="container">
  <h2 class="tickets-title">Tickets</h2>
  <div class="tickets">
    <div class="tickets-container" *ngIf="tickets$ | async;let tickets; else loading">
      <app-ticket *ngFor="let ticket of tickets" [ticket]="ticket"></app-ticket>
    </div>
  </div>
  <p class="help-text">Need help? Contact us at: <a href="mailto:info@devfest.cz">info@devfest.cz</a></p>
</div>
<ng-template #loading>
  <div class="app-loading-child background-gradient">
    <div class="logo"></div>
    <svg class="spinner" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
  </div>
</ng-template>
