<div class="container" *ngIf="!showSpinner; else loading" [@fadeInOut]>
  <div class="tickets">
    <div class="full-container">
      <div class="tickets-container">
        <app-ticket *ngFor="let ticket of tickets; let i = index" [ticket]="ticket"
                    [euroToCrowns]="euroToCrowns"
                    [ngClass]="{'smaller': !ticket.actual || ticket.support}"
                    class="{{('ticket-' + i)}}"></app-ticket>

      </div>
      <div class="vat-container">
        <div class="vat-description">
          All prices include VAT 21%
        </div>
      </div>
    </div>

  </div>
  <div class="invoice">
    <button mat-raised-button class="invoice-button" color="accent" (click)="goToInvoice()">Order by invoice</button>
    <p class="text">if you need company invoice first</p>
  </div>
  <p class="help-text">Need help? Contact us at: <a href="mailto:info@devfest.cz">info@devfest.cz</a></p>
</div>
<ng-template #loading>
  <div class="image-container" [@fadeInOut]>
    <img class="image" src="assets/mediaval-loading.gif">
  </div>
</ng-template>
