path {
  stroke-dasharray: 1800;
  opacity: 10;
  filter: url(#white-glow);
  fill: white;
  stroke: white;
  animation: load 4s cubic-bezier(0.42, 0.0, 0.58, 1.0), flicker 5s infinite 6s step-end;
  -webkit-animation: load 4s cubic-bezier(0.42, 0.0, 0.58, 1.0), flicker 5s infinite 6s step-end;
}

polygon {
  stroke-dasharray: 1800;
  opacity: 10;
  filter: url(#white-glow);
  stroke: white;
  animation: load 4s cubic-bezier(0.42, 0.0, 0.58, 1.0), flicker 5s infinite 6s step-end;
  -webkit-animation: load 4s cubic-bezier(0.42, 0.0, 0.58, 1.0), flicker 5s infinite 6s step-end;
}

.yellowPart{
  fill: #f3c744;
  stroke: #f3c744;
  filter: url(#yellow-glow);
}

.greenPart{
  fill: #22a062;
  stroke: #22a062;
  filter: url(#green-glow);
}

.bluePart{
  fill: #519bec;
  stroke: #519bec;
  filter: url(#blue-glow);
}

.redPart{
  fill: #d74a3d;
  stroke: #d74a3d;
  filter: url(#red-glow);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {	_::-webkit-full-page-media, _:future, :root ,  .redPart{
  filter: none;
}}

@media screen and (-webkit-min-device-pixel-ratio: 0) {	_::-webkit-full-page-media, _:future, :root ,  .greenPart{
  filter: none;
}}

@media screen and (-webkit-min-device-pixel-ratio: 0) {	_::-webkit-full-page-media, _:future, :root ,  .bluePart{
  filter: none;
}}

@media screen and (-webkit-min-device-pixel-ratio: 0) {	_::-webkit-full-page-media, _:future, :root ,  .yellowPart{
  filter: none;
}}


@media screen and (-webkit-min-device-pixel-ratio: 0) {	_::-webkit-full-page-media, _:future, :root ,  path{
  filter: none;
}}

@media screen and (-webkit-min-device-pixel-ratio: 0) {	_::-webkit-full-page-media, _:future, :root ,  polygon{
  filter: none;
}}

@keyframes load {

  0% {
    opacity: 1;
    fill: none;
    stroke-dashoffset: 1800;
  }

  20% {
    opacity: 5;
  }

  30% {
    opacity: 10;
  }

  90% {
    fill: rgba(255, 255, 255, 0)
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  3% {
    opacity: 0.4;
  }

  6% {
    opacity: 1;
  }

  7% {
    opacity: 0.4;
  }

  8% {
    opacity: 1;
  }

  9% {
    opacity: 0.4;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}