@import "../styles/colors";

.app-loading {
  background-color: $dark-background;
  .logo {
    width: 300px;
    height: 300px;
    background: url('../assets/main-mediaval-loading.gif');
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover;
  }
}

.app-loading-child {
  .logo {
    position: absolute;
    top: calc(50% - 50px);
    width: 300px;
    height: 300px;
    background: url('../assets/main-mediaval-loading.gif');
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover;
  }
}
