.countdown {
  color: black;
  display: grid;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  grid-gap: 16px;
  justify-content: center;
  grid-template-columns: 130px 130px;

  .number-container {
    display: flex;
    flex-direction: row;

    p.number {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
    }

    .description {
      margin: 0;
      font-size: 1.5rem;
      padding-left: 9px;
    }
  }
}

@media only screen and (min-width: 375px) {
  .countdown {
    grid-template-columns: 133px 133px;
    .number-container {
      p.number, .description {
        font-size: 1.6rem;
      }
    }
  }
}

@media only screen and (min-width: 425px) {
  .countdown {
    grid-template-columns: 148px 148px;
    .number-container {
      p.number, .description {
        font-size: 1.8rem;
      }
    }
  }
}

@media only screen and (min-width: 475px) {
  .countdown {
    grid-template-columns: 180px 180px;
    .number-container {
      p.number, .description {
        font-size: 2.2rem;
      }
    }
  }
}

@media only screen and (min-width: 575px) {
  .countdown {
    grid-template-columns: 230px 230px;
    .number-container {
      p.number, .description {
        font-size: 2.8rem;
      }
    }
  }
}

@media all and (min-width: 1024px) and (orientation: portrait) {
  .countdown {
    grid-template-columns: 330px 330px;
    .number-container {
      p.number, .description {
        font-size: 4rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .countdown {
    color: white;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    grid-gap: 16px;
    grid-template-columns: 1fr;
    .number-container {
      p.number, .description {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (min-width: 1376px) {
  .countdown .number-container {
    p.number, .description {
      font-size: 2.25rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  .countdown .number-container {
    p.number, .description {
      font-size: 2.5rem;
    }
  }
}

@media screen and (min-width: 1920px) {
  .countdown .number-container {
    p.number, .description {
      font-size: 3rem;
    }
  }
}
