<div class="countdown-container">
  <div class="number-container">
    <p class="number three-digit">{{days < 10 ? ('0' + days) : days}}</p>
    <p class="description">D</p>
  </div>
  <div class="number-container">
    <p class="number two-digit">{{hours < 10 ? ('0' + hours) : hours}}</p>
    <p class="description">H</p>
  </div>
  <div class="number-container">
    <p class="number two-digit minutes">{{minutes < 10 ? ('0' + minutes) : minutes}}</p>
    <p class="description">M</p>
  </div>
  <div class="number-container">
    <p class="number two-digit">{{seconds < 10 ? ('0' + seconds) : seconds}}</p>
    <p class="description">S</p>
  </div>
</div>
