<div class="speaker-detail-section">
  <div class="close-button-container">
    <a (click)="close()" class="close-button" >
      <i class="material-icons">close</i>
    </a>
  </div>
  <h1 class="title">
    Knight detail
  </h1>
  <div class="speaker">
    <div class="head">
      <div class="photo-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="photo">
      </div>
      <div class="info">
        <p class="name">Katka Pejšková</p>
        <p class="city">Ostrava, Czech Republic</p>
        <p class="job">GDG Organizer, GUG.cz</p>
        <img src="assets/partners/GUG.png" class="company">
      </div>
    </div>
    <p class="intro">Passionate about traveling and also to share his adventures with Web Technologies and Firebase.</p>
    <p class="sessions-title">Sessions</p>
    <ul class="sessions-container">
      <li class="session">
        <p class="text">Event organizing in Ostrava (Sun 10:00 - 10:50, A hall)</p>
      </li>
    </ul>
    <div class="footer">
      <a mat-icon-button [href]="'https://www.twitter.com/'"
         target="_blank" class="link">
        <mat-icon svgIcon="twitter"></mat-icon>
      </a>
      <!--<a mat-icon-button *ngIf="organizer.instagram" [href]="'https://www.instagram.com/' + organizer.instagram"
         target="_blank" class="link">
        <mat-icon svgIcon="instagram"></mat-icon>
      </a>
      <a mat-icon-button *ngIf="organizer.googleplus" [href]="'https://plus.google.com/u/0/' + organizer.googleplus"
         target="_blank" class="link">
        <mat-icon svgIcon="googleplus"></mat-icon>
      </a>-->
      <a mat-icon-button [href]="'https://www.facebook.com/'"
         target="_blank" class="link">
        <mat-icon svgIcon="facebook"></mat-icon>
      </a>
      <a mat-icon-button [href]="'https://www.linkedin.com/in/'"
         target="_blank" class="link">
        <mat-icon svgIcon="linkedin"></mat-icon>
      </a>
      <!--<a mat-icon-button *ngIf="organizer.youtube" [href]="'https://www.youtube.com/user/' + organizer.youtube"
         target="_blank" class="link">
        <mat-icon svgIcon="youtube"></mat-icon>
      </a>-->
    </div>
  </div>
  <ng-template #loading>
    <div class="loading-container">
      <img class="loading-image" src="assets/mediaval-loading.gif">
    </div>
  </ng-template>
</div>
