.tickets-section {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .title {
    font-family: MyMediaval, serif;
    font-size: 3rem;
    margin: 0;
    text-align: center;
  }

  .close-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .close-button {
      color: #333333;
      cursor: pointer;
      position: fixed;
      text-decoration: none;
      outline: none;
    }
  }

  app-tickets {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
}
