.container {
    min-height: 100vh;
    width: 100%;
  
    .wrapper {
      padding-top: 80px;
  
      .info-cont {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
  
      }
    }
  }
  