<div class="panel-holder">
  <div class="photos-holder">
    <div class="more-photos-info">
      <h1>More photos</h1>
    </div>
    <div class="mover">
      <img class="photo" src="assets/images/show1-min.jpg">

      <img class="photo" src="assets/images/show1-min.jpg">

      <img class="photo" src="assets/images/show1-min.jpg">

      <img class="photo" src="assets/images/show1-min.jpg">

      <img class="photo" src="assets/images/show1-min.jpg">

      <img class="photo" src="assets/images/show1-min.jpg">

      <img class="photo" src="assets/images/show1-min.jpg">
    </div>
  </div>
</div>

<div class="tech-slideshow">
  <div class="mover-1"></div>
</div>
