.panel-holder {
  box-shadow: 0 0 0.5rem #fff;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 250px;
  overflow: hidden;
}

.photos-holder {
  float: left;
  min-width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .mover {
    transition: 0.3s all;
    width: max-content;
    height: 100%;
    overflow: hidden;

    .first {
      transform: translate3d(0, 0, 0);
      -webkit-animation: moving 270s linear infinite;
      -moz-animation: moving 270s linear infinite;
      -ms-animation: moving 270s linear infinite;
      -o-animation: moving 270s linear infinite;
      animation: moving 270s linear infinite;
    }

    img{
      height: 100%;
      opacity: 0;
    }

  }

  .more-photos-info {
    text-align: center;
    z-index: 2;
    position: absolute;
    width: 100vw;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    opacity: 0;
  }
}

.photos-holder:hover {
  cursor: pointer;

  .mover {
    filter: blur(0px) grayscale(50%);
    -webkit-filter: blur(9px) grayscale(70%) brightness(40%);
  }

  .more-photos-info {
    opacity: 1;
  }
}

@keyframes moving {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -50%;
  }
  100% {
    margin-left: 0px;
  }
}
