<mat-sidenav-container class="main-holder">
  <header class="navigation mat-elevation-z3">
    <app-navigation (homeClicked)="sidenav.toggle()"></app-navigation>
  </header>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <img class="logo" alt="Devfest logo" src="assets/devfest-logo.svg"/>
      <a (click)="sidenav.toggle()" *ngFor="let nav of navLinks" [routerLink]="nav.path" mat-list-item>{{nav.label}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="info">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</mat-sidenav-container>
