@import "../colors.scss";

.main-holder {
  min-height: 100%;
  min-width: 100%;
}

.people-back{
  background-color: $devfest-blue;
  background-position: top;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, $devfest-blue-light, $devfest-blue),
  url(../assets/background_image.jpg);
}


@media (max-width: 1480px) {

  .main-holder {
    background-size: 170vw 100vh; /* Force the image to its minimum width */
  }

}

@media (max-width: 1180px) {

  .main-holder {
    background-size: 200vw 100vh; /* Force the image to its minimum width */
  }

}

@media (max-width: 880px) {

  .main-holder {
    background-size: 220vw 100vh; /* Force the image to its minimum width */
  }

}


@media (max-width: 680px) {

  .main-holder {
    background-size: 250vw 100vh; /* Force the image to its minimum width */
  }

}


@media (max-width: 480px) {

  .main-holder {
    background-size: 300vw 100vh; /* Force the image to its minimum width */
  }

}


.navigation {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
}

.info {
  min-height: 100vh;
  min-width: 100%;
}

mat-sidenav {
  width: 230px;
}

.logo{
  margin: 10px;
}
