.wrapper{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.container {
  height: 100%;
  position: relative;
  width: 100%;
}

.date{
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
  font-weight: bold;
  animation: 5s cubic-bezier(0, 0.23, .83, .67);
}

.partners{
  height: 20%;
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 425px) {
}

@media only screen and (min-width: 475px) {

}

@media only screen and (min-width: 575px) {

}

@media all and (min-width: 1024px) {

}

@media all and (min-width: 1024px) and (orientation: portrait) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (min-width: 1024px) and (orientation: landscape) {
}

@media screen and (min-width: 1440px) {
}

@media only screen and (min-width: 1920px) {

}