@import '../styles/styles-variables';
@import '../styles/colors';

:host {
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.home-logo {
  width: 100%;
}

.logo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  width: 100px;
  img {
    margin-left: 10px;
    height: 26px;
  }
}

@media only screen and (min-width: 425px) {
  .logo-button {
    max-width: 150px;
    width: 150px;
    img {
      margin-left: 10px;
      height: 39px;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.content {
  z-index: 1;
  position: absolute;
  top: 0;
}

.mat-toolbar {
  background: transparent;
}

a.active {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;

  .toolbar {
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
    flex: 0 0 auto;
    -webkit-transition: margin-top 0.5s ease-out, background-color 0.5s ease-out;
    -moz-transition: margin-top 0.5s ease-out, background-color 0.5s ease-out;
    -o-transition: margin-top 0.5s ease-out, background-color 0.5s ease-out;
    transition: margin-top 0.5s ease-out, background-color 0.5s ease-out;

    .nav-button {
      margin: 0 10px 0 0;
      font-size: 1.1em;
      color: white;
      height: 42px;
    }

    .branding {
      cursor: pointer;
      padding-top: 4px;
      font-size: 1.5em;
      font-weight: bolder;

      &.center {
        text-align: center;
      }

      img {
        position: relative;
        top: -2px;
      }
    }

    .sign-in-button {
      line-height: 35px;
      margin-right: 10px;
    }

    .spacer {
      flex: 1 1 auto;
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      .nav-button {
        min-width: 0;
        padding: 0 10px;
      }
      .sign-in-button {
        min-width: 0;
        padding: 0 10px;
        margin: 0 5px 0 0;
      }
    }
  }

  .toolbar.dark-toolbar {
    background: $dark-background;
  }

  .toolbar.hidden {
    margin-top: -64px;
  }

  .toolbar.transparent {
    background: transparent;
  }

  .content {
    flex: 1 0 auto;
    position: relative;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    .content {
      padding-top: 56px;
    }
  }

  .footer {
    flex: 0 0 auto;
    text-align: center;
    z-index: 1;

    .row {
      padding: 10px 0;

      .links {
        a {
          transition: padding 0.5s;
          display: inline-block;
          padding: 20px 5px;

          &:hover {
            text-decoration: none;
          }

          span {
            display: inline-block;
            width: 75px;
            padding: 0 0 0 5px;
            overflow: hidden;
            text-align: left;
            white-space: nowrap;
            transition: width 0.5s;
          }
        }

        @media (max-width: map-get($grid-breakpoints, md)) {
          a {
            padding: 20px;

            span {
              width: 0;
              padding: 0;
            }
          }
        }

        @media (max-width: map-get($grid-breakpoints, sm)) {
          a {
            padding: 20px 5px;
          }
        }
      }

      @media (min-width: map-get($grid-breakpoints, sm)) {
        .signature {
          position: relative;

          a {
            position: absolute;
            right: 15px;
          }
        }
      }
    }
  }
}

mat-sidenav {
  width: 250px;

  .branding {
    height: 64px;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 500;

    img {
      width: 100%;
      margin: 0 10px 0 0;
    }

    span {
      position: relative;
      top: 3px;
    }
  }

  .mat-nav-list {
    padding-top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .mat-toolbar {
    background: $dark-background;
  }
}

@media only screen and (min-width: 768px) {
  .mat-toolbar {
    .nav-button {
      border: none;
      width: 88px !important;
    }

    .nav-button:last-child {
      margin-right: 0 !important;
    }

    hr.line {
      position: relative;
      height: 3px;
      width: 88px;
      margin: 0;
      background: white;
      border: none;
      transition: .3s ease-in-out;
      top: -3px;
    }

    .nav-button-0.active ~ hr.line {
      margin-left: 0;
    }

    .nav-button-1.active ~ hr.line {
      margin-left: 98px;
    }

    .nav-button-2.active ~ hr.line {
      margin-left: 196px;
    }
  }
}
  @media only screen and (min-width: 1024px) {
    .mat-toolbar {
      .nav-button {
        width: 60px !important;
      }
    }
  }
