@import "../colors.scss";

.main-holder {
  min-height: 100%;
  min-width: 100%;
  background-color: $devfest-blue;

  background-position: top;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
}

.people-back{
  background-image: linear-gradient(to bottom, $devfest-blue-light, $devfest-blue),
  url(../assets/background_image.jpg);
}

.base-back{
  background-image: linear-gradient(to , $devfest-blue-light, $devfest-blue),
  url(../assets/background_image.jpg);
}


@media (max-width: 1480px) {

  .main-holder {
    background-size: auto 100vh; /* Force the image to its minimum width */
  }

}

.navigation {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
}

.info {
  min-height: 100vh;
  min-width: 100%;
}

mat-sidenav {
  width: 230px;
}

.logo{
  margin: 10px;
}
