    <div class="text-block" >
        <p>
            UHELNÝ MLÝN<br>
            Areál Šroubáren 860<br>
            Libčice nad Vltavou<br>
            <a style="color:white" href="https://www.uhelnymlyn.cz/">Website</a><br>
            <br>
            Strong industrial atmosphere in a unique event space that received many architectural awards.<br>
            Within 30 minutes from the center of Prague.<br>
            Excellent transport options: a train station and a big parking lot near the venue.   <br>
        </p>
        <a target="_blank" mat-raised-button color="primary" href="assets/transport.jpg">
            <h2>TRANSPORT</h2>
        </a>
    </div>
