.talk {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 146px;
  width: 100%;

  .body {
    display: flex;
    flex: 1;
    padding: 4px;
    flex-direction: column;

    .talk-title {
      font-size: 1rem;
      margin: 0;
      font-weight: 500;
    }

    .talk-level {
      font-size: 0.75rem;
      margin: 0;
    }
  }

  .footer {
    background: #fdd835;
    display: flex;
    flex-direction: row;
    padding: 6px;
    align-items: center;
    color: white;
    width: calc(100% - 12px);

    .speaker-image {
      height: 32px;
      border-radius: 50%;
      margin-right: 8px;
    }

    .speaker, .talk-length {
      margin: 0;
    }

    .speaker {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 1rem;
        font-weight: 500;
      }
      .job {
        font-size: 0.85rem;
        font-weight: 400;
      }
    }

    .talk-length {
      flex: 1;
      text-align: right;
    }
  }

  .footer.firebase {
    background: #ffa118;
  }

  .footer.dart {
    background: #26b3a2;
  }

  .footer.android {
    background: #6ab344;
  }
}

@media only screen and (min-width: 1376px) {
  .talk {
    height: auto;

    .body {
      padding: 8px;
    }

    .talk-title {
      font-size: 1.25rem;
    }

    .talk-level {
      font-size: 1rem;
    }
  }
}
