<div class="talk">
  <div class="body">
    <p class="talk-title">{{talk.title}}</p>
    <p class="talk-level">{{talk.level}} / {{talk.language}} / {{talk.hall}}</p>
  </div>
  <div class="footer" ngClass="{{talk.technologyClass}}">
    <img class="speaker-image" [src]="talk.speaker.imageUrl" alt="{{talk.speaker.name}}">
    <div class="speaker">
      <span class="name">{{talk.speaker.name}}</span>
      <span class="job">{{talk.speaker.job}} / {{talk.speaker.city}}</span>
    </div>
    <p class="talk-length">{{talk.length}}</p>
  </div>
</div>
