<div class="session-section">
  <div class="close-button-container">
    <a (click)="close()" class="close-button">
      <i class="material-icons">close</i>
    </a>
  </div>
  <h1 class="title">
    Session detail
  </h1>
  <div class="session" *ngIf="session; else loading" [@fadeInOut]>
      <h2 class="session-name">{{session.name}}</h2>
      <h3 class="session-subtitle">{{session.talkSubtitle}}</h3>
      <img *ngIf="session.wtm" class="wtm-logo" src="assets/wtm.png" alt="Women Techmakers" title="Women Techmakers">
      <p class="session-time session-start-time">Start: {{session.startTime.toDate().getHours()}}:{{session.startTime.toDate().getMinutes() === 0 ? '00' : session.startTime.toDate().getMinutes()}}</p>
      <p class="session-time">End: {{session.endTime.toDate().getHours()}}:{{session.endTime.toDate().getMinutes() === 0 ? '00' : session.endTime.toDate().getMinutes()}}</p>
      <p *ngIf="session.capacity">Capacity: {{session.capacity}}</p>
      <p *ngIf="session.description">{{session.description}}</p>
      <div *ngFor="let speaker of speakers" class="speaker-info" (click)="openSpeaker(speaker.id)" >
        <span *ngIf="speaker.photo | async as photo">
            <img [src]="photo" class="session-speaker-photo">
        </span>
        <h2 class="session-speaker-name" >{{speaker.name}}</h2>
        <h4 class="session-speaker-company">{{speaker.company}} / {{speaker.job}}</h4>
      </div>
      <button mat-raised-button color="accent" class="detail" *ngIf="session.registrationLink" (click)="seeLink(session.registrationLink)" [@fadeInOut]>Registration</button>
  </div>
</div>
<ng-template #loading>
  <img class="loading-image" src="assets/mediaval-loading.gif">
</ng-template>
