<div class="session-section">
  <div class="close-button-container">
    <a (click)="close()" class="close-button">
      <i class="material-icons">close</i>
    </a>
  </div>
  <h1 class="title">
    Session detail
  </h1>
  <div class="session" *ngIf="session; else loading" [@fadeInOut]>
      <h2 class="session-name">{{session.name}}</h2>
      <h3 class="session-subtitle">{{session.talkSubtitle}}</h3>
      <img *ngIf="session.wtm" class="wtm-logo" src="assets/wtm.png" alt="Women Techmakers" title="Women Techmakers">
      <p class="session-time session-start-time">Start: {{session.startTime.toDate().getHours()}}:{{session.startTime.toDate().getMinutes() === 0 ? '00' : session.startTime.toDate().getMinutes()}}</p>
      <p class="session-time">End: {{session.endTime.toDate().getHours()}}:{{session.endTime.toDate().getMinutes() === 0 ? '00' : session.endTime.toDate().getMinutes()}}</p>
      <p *ngIf="session.description">
        {{session.description}}
      </p>
      <div *ngFor="let speaker of speakers" class="speaker-info">
        <img *ngIf="speaker.photo" [src]="speaker.photo | async" class="session-speaker-photo">
        <h2 class="session-speaker-name">{{speaker.name}}</h2>
      </div>
  </div>
</div>
<ng-template #loading>
  <img class="loading-image" src="assets/mediaval-loading.gif">
</ng-template>
