@import "../../../styles/colors";

section {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background: url("../../../assets/team-photo.jpg") no-repeat center;
  background-size: cover;
  color: #ffffff;

  .background-gradient {
    flex: 1;
    background: linear-gradient(180deg, rgba(21, 25, 38, 0.2) 0%, rgb(24, 32, 17) 95%), radial-gradient(farthest-side at 0 0, rgba(4, 102, 255, 0.3), rgba(255, 26, 198, 0)), radial-gradient(farthest-side at 100% 0, rgba(60, 221, 221, .4), rgba(60, 221, 221, 0)), radial-gradient(farthest-side at 50% 0, rgba(255, 26, 198, .1), rgba(255, 26, 198, 0));
    padding: 32px 24px;

    .container {
      display: grid;
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      grid-gap: 32px;
      width: 100%;
      z-index: 2;
      justify-content: center;

      .organizer-card {
        height: 250px;
        width: 272px;
      }
    }
  }
  .dark-background {
    flex: 1;
    background-color: $dark-background;
  }
}

@media only screen and (min-width: 375px) {
  section {
    .background-gradient {
      padding-top: 48px;
    }
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  section {
    background-position-y: 56px;
    .background-gradient {
      padding-top: 7.5rem;
    }
  }
}

@media only screen and (min-width: 608px) {
  section {
    .background-gradient {
      .container {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        grid-column-gap: 32px;
        grid-template-columns: 272px 272px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  section {
    .background-gradient {
      padding-top: 96px;
    }
  }
}

@media only screen and (min-width: 912px) {
  section {
    .background-gradient {
      .container {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        grid-template-columns: 272px 272px 272px;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  section {
    .background-gradient {
      .container {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        grid-template-columns: 272px 272px 272px 272px;
      }
    }
  }
}
