<section>
  <app-top-toolbar></app-top-toolbar>
  <div class="background-gradient" *ngIf="organizers$ | async;let organizers; else loading">
    <div class="container">
      <app-organizer-card *ngFor="let organizer of organizers" class="organizer-card" [id]="organizer.id"></app-organizer-card>
    </div>
  </div>
  <ng-template #loading>
    <div class="app-loading-child background-gradient">
      <div class="logo"></div>
      <svg class="spinner" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
      </svg>
    </div>
  </ng-template>
</section>
