.partner-group-name{
    color:white;
}

.companies{
    width: 100%;
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

app-partner-logo{
    flex-basis: 200px;
    margin: 5px;
}