.container {
  flex: 1;
  min-height: 100vh;
  background: url("../../../assets/town-background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;

  .cover {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 32px;
    flex-grow: 1;
    min-height: 100vh;
    background:     linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    );

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .logo {
        width: 128px;
      }

      .date {
        margin: 0;
        font-family: Roboto, serif;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: right;

        .place {
          font-weight: normal;
        }
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .countdown-container {
        padding-top: 20px;
      }

      .menu-container {
        display: flex;
        flex-grow: 1;
        margin-bottom: 25px;
        align-items: flex-end;
        justify-content: center;
      }
    }
  }
}

@media only screen and (min-width: 375px) {
  .container .cover {
    .header {
      .logo {
        width: 164px;
      }

      .date {
        font-size: 1.7rem;
      }
    }
  }
}

@media only screen and (min-width: 475px) {
  .container .cover {
    min-height: calc(100vh - 64px);
    padding: 32px;
    .header {
      .logo {
        width: 188px;
      }

      .date {
        font-size: 2.2rem;
      }
    }
    .body {
      .countdown-container {
        padding-top: 40px;
      }
    }
  }
}

@media only screen and (min-width: 575px) {
  .container .cover {
    .header {
      .logo {
        width: 188px;
      }

      .date {
        margin: 0;
        font-size: 2.5rem;
      }
    }
    .body {
      .countdown-container {
        padding-top: 60px;
      }
    }
  }
}

@media all and (min-width: 1024px) and (orientation: portrait) {
  .container .cover {
    padding: 64px;
    min-height: 100vh;

    .header {
      .logo {
        width: 300px;
      }

      .date {
        font-size: 4rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .container .cover {
    padding: 64px;
    min-height: 100vh;
    .header {
      .logo {
        width: 188px;
      }

      .date {
        font-size: 2.5rem;
        .heading-linebreak {
          display: none;
        }
      }
    }
    .body {
      flex-direction: row;
      justify-content: space-between;

      .countdown-container {
        display: flex;
        padding-top: 0;
        padding-left: 20px;
        align-items: center;
      }

      .menu-container {
        flex-grow: 0;
        padding-right: 20px;
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .container .cover {
    .header {
      .logo {
        width: 300px;
      }
    }
    .body {
      .countdown-container {
        padding-left: 80px;
      }

      .menu-container {
        padding-right: 80px;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    .cover {
      padding: 64px 190px 0;

      .header .date {
        font-size: 3.5rem;
      }

      .body {
        .countdown-container {
          padding-left: 60px;
        }

        .menu-container {
          padding-right: 60px;
        }
      }
    }
  }
}
