.container {
  flex: 1;
  min-height: 100vh;
  background: url("../../../assets/town-background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;

  .cover {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 32px;
    flex-grow: 1;
    min-height: calc(100vh - 48px);
    background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    );

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .logo {
        width: 128px;
      }

      .date {
        margin: 0;
        font-family: Roboto, serif;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: right;
        color: white;

        .place {
          font-weight: normal;
        }
      }
    }

    .body {
      display: grid;
      grid-template-rows: 40px 76px 1fr;
      grid-row-gap: 16px;
      grid-template-columns: 1fr;
      min-height: calc(100vh - 48px - 130px);

      .buy-tickets-container {
        display: flex;
        width: 100%;
        justify-content: center;

        .buy-tickets-link .buy-tickets-image {
          height: 40px;
        }
      }

      .menu-container {
        display: flex;
        flex-grow: 1;
        align-items: flex-end;
        justify-content: center;
      }
    }
  }
}

@media only screen and (min-width: 375px) {
  .container .cover {
    .header {
      .logo {
        width: 164px;
      }

      .date {
        font-size: 1.7rem;
      }
    }

    .body {
      grid-template-rows: 60px 80px 1fr;
      min-height: calc(100vh - 48px - 165px);

      .buy-tickets-container .buy-tickets-link .buy-tickets-image {
        height: 60px;
      }
    }
  }
}

@media only screen and (min-width: 425px) {
  .container .cover .body {
    grid-template-rows: 60px 88px 1fr;
  }
}

@media only screen and (min-width: 475px) {
  .container .cover {
    min-height: calc(100vh - 64px);
    padding: 32px;
    .header {
      .logo {
        width: 188px;
      }

      .date {
        font-size: 2.2rem;
      }
    }

    .body {
      min-height: calc(100vh - 48px - 188px);
      grid-template-rows: 80px 104px 1fr;

      .buy-tickets-container .buy-tickets-link .buy-tickets-image {
        height: 80px;
      }
    }
  }
}

@media only screen and (min-width: 575px) {
  .container .cover {
    .header .date {
      font-size: 2.5rem;
    }
    .body {
      grid-template-rows: 80px 128px 1fr;
    }
  }
}

@media all and (min-width: 1024px) {
  .container .cover {
    padding: 64px;
    min-height: calc(100vh - 128px);
  }
}

@media all and (min-width: 1024px) and (orientation: portrait) {
  .container .cover {
    .header {
      .logo {
        width: 300px;
      }

      .date {
        font-size: 4rem;
      }
    }

    .body {
      min-height: calc(100vh - 128px - 297px);
      grid-template-rows: 80px 176px 1fr;
    }
  }
}

@media screen and (max-width: 1024px) {
  .container .cover {
    .header {
      .buy-tickets-container {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .container .cover {
    .header {
      .logo {
        width: 188px;
      }

      .buy-tickets-container {
        display: block;
        position: relative;
        top: 80px;
        left: -109px;
        width: 80px;

        .buy-tickets-link .buy-tickets-image {
          height: 80px;
        }
      }

      .date {
        font-size: 2.5rem;
        .heading-linebreak {
          display: none;
        }
      }
    }

    .body {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      min-height: calc(100vh - 128px - 180px);

      .buy-tickets-container {
        display: none;
      }

      .countdown-container {
        display: flex;
        padding-left: 60px;
        align-items: center;
      }

      .menu-container {
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .container .cover {
    .header {
      .logo {
        width: 300px;
      }
    }
    .body {
      min-height: calc(100vh - 128px - 297px - 16px);
      .countdown-container {
        padding-left: 80px;
      }

      .menu-container {
        padding-right: 80px;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    .cover {
      .header {
        .buy-tickets-container {
          top: 80px;

          .buy-tickets-link .buy-tickets-image {
            height: 120px;
          }
        }

        .date {
          font-size: 3.5rem;
        }
      }

      .body {
        .countdown-container {
          padding-left: 60px;
        }

        .menu-container {
          padding-right: 60px;
        }
      }
    }
  }
}
