<div class="container">
  <div class="logo-date-holder">
    <img alt="Devfest logo" src="assets/devfest-logo.svg" />
    <img alt="Devfest date" src="assets/devfest-logo-time.svg" />
  </div>
  <div class="socials">
    <a *ngIf="twitterLink" [href]="twitterLink" mat-icon-button target="_blank">
      <mat-icon class="social" svgIcon="twitter"></mat-icon>
    </a>
    <a *ngIf="facebookLink" [href]="facebookLink" mat-icon-button target="_blank">
      <mat-icon class="social" svgIcon="facebook"></mat-icon>
    </a>
    <a *ngIf="instagramLink" [href]="instagramLink" mat-icon-button target="_blank">
      <mat-icon class="social" svgIcon="instagram"></mat-icon>
    </a>
  </div>
</div>
<div class="container-second">
  <a class="info-button" color="primary" [href]="mailFormLink" mat-flat-button>
    <h1>I want to be there!</h1>
  </a>
  <!--a class="info-button cfp-button" color="accent" [href]="cfpFormLink" mat-flat-button>
    <h1>I want to speak there!</h1>
  </a-->
</div>
<div id="tickets">
  <div class="tickets" *ngIf="!hideTickets">
    <div>
      <h1>Tickets</h1>
      <app-tickets></app-tickets>
    </div>
  </div>
</div>
<div class="venue-container">
  <app-venue></app-venue>
</div>
<div class="container-fourth">
  <app-top-partner-panel *ngFor="let partner of partners | async" [companies]="partner.companies"
    [groupName]="partner.name" [main]="true"></app-top-partner-panel>
</div>
<div class="container-photo">
  <app-photo-panel></app-photo-panel>
</div>