.container {
  flex: 1;
  min-height: 100vh;
  background: url("../../../assets/town-background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;

  .cover {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 32px;
    flex-grow: 1;
    min-height: calc(100vh - 48px);

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .logo {
        width: 128px;
      }

      .date {
        font-size: 1.5rem;
        text-align: right;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .countdown-container {
        padding-top: 20px;
      }

      .menu-container {
        display: flex;
        flex-grow: 1;
        align-items: flex-end;
        justify-content: center;
      }
    }
  }
}

@media only screen and (min-width: 375px) {
  .container .cover {
    .header {
      .logo {
        width: 164px;
      }

      .date {
        font-size: 1.7rem;
        text-align: right;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    .cover {
      background-image: linear-gradient(180deg, rgba(21, 25, 38, 0.1) 0%, rgba(24, 32, 17, 0.7) 99%);
      min-height: calc(100vh - 64px);
      padding: 64px 190px 0;

      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .date {
          font-size: 3.5rem;
          font-family: Roboto, serif;
          text-align: right;

          .only-for-mobile {
            display: none;
          }

          .place {
            font-size: 2.85rem;
          }
        }
      }

      .body {
        display: grid;
        columns: 2;
        grid-template-columns: 331px auto;

        .countdown-container {
          padding-top: 100px;
          padding-left: 65px;
          width: 266px;
        }

        .menu-container {
          padding: 0 220px;
        }
      }
    }
  }
}
