<div>
    <h2 style="font-family: MyMediaval; font-size: 3rem">
        Your Contact
    </h2>
    <div style="width: 100%; text-align: center">
        <div style="width: 70%; display: flex;">
            <div style="width:50%">
                <div style="font-size: 2rem;">
                    Kateřina Pejšková
                </div>
                <div>
                    <a href="mailto:katerina.pejskova@gug.cz">
                        <mat-icon>email</mat-icon>
                        <span class="text">katerina.pejskova@gug.cz</span>
                    </a>
                </div>
                <div>
                    <a href="tel:+420702118939">
                        <mat-icon>phone</mat-icon>
                        <span class="text">+420 702 118 939</span>
                    </a>
                </div>
            </div>
            <div style="width: 50%">
                <img style="width: 50%; border-radius: 50%;" src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d"
                    alt="Photo of a Kateřina Pejšková">
            </div>
        </div>

    </div>

</div>