<div >
    <h2 style="font-family: MyMediaval; font-size: 3rem">
        Your lady
    </h2>
    <div >
        <img class="contact-image" src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d"
            alt="Photo of a Kateřina Pejšková">
    </div>
    <h2 class="contact-name">
        Kateřina Pejšková
    </h2>
    <a href="mailto:katerina.pejskova@gug.cz" class="contact">
        <mat-icon>email</mat-icon>
        <span class="text">katerina.pejskova@gug.cz</span>
    </a>
    <a href="tel:+420702118939" class="contact phone">
        <mat-icon>phone</mat-icon>
        <span class="text">+420 702 118 939</span>
    </a>
</div>