<mat-card class="contact-card">
    <mat-card-title class="title">
        Contact
    </mat-card-title>
    <div class="image-holder">
        <img class="contact-image" src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d"
             alt="Photo of a Kateřina Pejšková">
    </div>
    <mat-card-content>
        <h2 class="contact-name">
            Kateřina Pejšková
        </h2>
        <a href="mailto:Katerina.pejskova@gug.cz" class="contact">
            <mat-icon>email</mat-icon>
            <span class="email">Katerina.pejskova@gug.cz</span>
        </a>
    </mat-card-content>
</mat-card>
