.speaker-holder {
  width: 100%;
  text-align: center;
  height: 230px;
  .header {
    width: 100%;
    *{
        margin-top: 0px;
        margin-bottom: 3px;
    }
  }
  .image {
    margin: auto;
    width: 150px;
  }
}
