.speaker-holder {
  width: 100%;
  text-align: center;
  height: 280px;
  .header {
    width: 100%;
    
    .speaker-name {
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 4px;
    }

    .speaker-company {
      margin-top: 0;
      margin-bottom: 16px;
      font-size: 14px;
    }
  }
  .image {
    margin: auto;
    width: 175px;
  }
}
