.container {
  min-height: 100vh;
  width: 100%;
}

.wrapper {
  padding-top: 60px;
}

.title-holder {
  width: 100%;
  text-align: center;
  color: white;
}

.p-button {
  margin: 5px;
  width: 250px;
  font-size: 1.4rem;
}
