<div class="speakers-section">
  <div class="close-button-container">
    <a (click)="close()" class="close-button" >
      <i class="material-icons">close</i>
    </a>
  </div>
  <h1 class="title">
    Knights
  </h1>
  <div class="body">
    <div class="speakers-container">
      <div class="speaker">
        <div class="body" (click)="click()">
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="photo">
          <p class="name">Katka Pejšková</p>
          <div class="city">Ostrava, Czech Republic</div>
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="company">
          <p class="intro">Passionate about traveling and also to share his adventures with Web Technologies and Firebase.</p>
        </div>
        <div class="footer">
          <a mat-icon-button [href]="'https://www.twitter.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="twitter"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.instagram" [href]="'https://www.instagram.com/' + organizer.instagram"
             target="_blank" class="link">
            <mat-icon svgIcon="instagram"></mat-icon>
          </a>
          <a mat-icon-button *ngIf="organizer.googleplus" [href]="'https://plus.google.com/u/0/' + organizer.googleplus"
             target="_blank" class="link">
            <mat-icon svgIcon="googleplus"></mat-icon>
          </a>-->
          <a mat-icon-button [href]="'https://www.facebook.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="facebook"></mat-icon>
          </a>
          <a mat-icon-button [href]="'https://www.linkedin.com/in/'"
             target="_blank" class="link">
            <mat-icon svgIcon="linkedin"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.youtube" [href]="'https://www.youtube.com/user/' + organizer.youtube"
             target="_blank" class="link">
            <mat-icon svgIcon="youtube"></mat-icon>
          </a>-->
        </div>
      </div>
      <div class="speaker">
        <div class="body" (click)="click()">
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="photo">
          <p class="name">Katka Pejšková</p>
          <div class="city">Ostrava, Czech Republic</div>
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="company">
          <p class="intro">Passionate about traveling and also to share his adventures with Web Technologies and Firebase.</p>
        </div>
        <div class="footer">
          <a mat-icon-button [href]="'https://www.twitter.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="twitter"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.instagram" [href]="'https://www.instagram.com/' + organizer.instagram"
             target="_blank" class="link">
            <mat-icon svgIcon="instagram"></mat-icon>
          </a>
          <a mat-icon-button *ngIf="organizer.googleplus" [href]="'https://plus.google.com/u/0/' + organizer.googleplus"
             target="_blank" class="link">
            <mat-icon svgIcon="googleplus"></mat-icon>
          </a>-->
          <a mat-icon-button [href]="'https://www.facebook.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="facebook"></mat-icon>
          </a>
          <a mat-icon-button [href]="'https://www.linkedin.com/in/'"
             target="_blank" class="link">
            <mat-icon svgIcon="linkedin"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.youtube" [href]="'https://www.youtube.com/user/' + organizer.youtube"
             target="_blank" class="link">
            <mat-icon svgIcon="youtube"></mat-icon>
          </a>-->
        </div>
      </div>
      <div class="speaker">
        <div class="body" (click)="click()">
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="photo">
          <p class="name">Katka Pejšková</p>
          <div class="city">Ostrava, Czech Republic</div>
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="company">
          <p class="intro">Passionate about traveling and also to share his adventures with Web Technologies and Firebase.</p>
        </div>
        <div class="footer">
          <a mat-icon-button [href]="'https://www.twitter.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="twitter"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.instagram" [href]="'https://www.instagram.com/' + organizer.instagram"
             target="_blank" class="link">
            <mat-icon svgIcon="instagram"></mat-icon>
          </a>
          <a mat-icon-button *ngIf="organizer.googleplus" [href]="'https://plus.google.com/u/0/' + organizer.googleplus"
             target="_blank" class="link">
            <mat-icon svgIcon="googleplus"></mat-icon>
          </a>-->
          <a mat-icon-button [href]="'https://www.facebook.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="facebook"></mat-icon>
          </a>
          <a mat-icon-button [href]="'https://www.linkedin.com/in/'"
             target="_blank" class="link">
            <mat-icon svgIcon="linkedin"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.youtube" [href]="'https://www.youtube.com/user/' + organizer.youtube"
             target="_blank" class="link">
            <mat-icon svgIcon="youtube"></mat-icon>
          </a>-->
        </div>
      </div>
      <div class="speaker">
        <div class="body" (click)="click()">
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="photo">
          <p class="name">Katka Pejšková</p>
          <div class="city">Ostrava, Czech Republic</div>
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="company">
          <p class="intro">Passionate about traveling and also to share his adventures with Web Technologies and Firebase.</p>
        </div>
        <div class="footer">
          <a mat-icon-button [href]="'https://www.twitter.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="twitter"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.instagram" [href]="'https://www.instagram.com/' + organizer.instagram"
             target="_blank" class="link">
            <mat-icon svgIcon="instagram"></mat-icon>
          </a>
          <a mat-icon-button *ngIf="organizer.googleplus" [href]="'https://plus.google.com/u/0/' + organizer.googleplus"
             target="_blank" class="link">
            <mat-icon svgIcon="googleplus"></mat-icon>
          </a>-->
          <a mat-icon-button [href]="'https://www.facebook.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="facebook"></mat-icon>
          </a>
          <a mat-icon-button [href]="'https://www.linkedin.com/in/'"
             target="_blank" class="link">
            <mat-icon svgIcon="linkedin"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.youtube" [href]="'https://www.youtube.com/user/' + organizer.youtube"
             target="_blank" class="link">
            <mat-icon svgIcon="youtube"></mat-icon>
          </a>-->
        </div>
      </div>
      <div class="speaker">
        <div class="body" (click)="click()">
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="photo">
          <p class="name">Katka Pejšková</p>
          <div class="city">Ostrava, Czech Republic</div>
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="company">
          <p class="intro">Passionate about traveling and also to share his adventures with Web Technologies and Firebase.</p>
        </div>
        <div class="footer">
          <a mat-icon-button [href]="'https://www.twitter.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="twitter"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.instagram" [href]="'https://www.instagram.com/' + organizer.instagram"
             target="_blank" class="link">
            <mat-icon svgIcon="instagram"></mat-icon>
          </a>
          <a mat-icon-button *ngIf="organizer.googleplus" [href]="'https://plus.google.com/u/0/' + organizer.googleplus"
             target="_blank" class="link">
            <mat-icon svgIcon="googleplus"></mat-icon>
          </a>-->
          <a mat-icon-button [href]="'https://www.facebook.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="facebook"></mat-icon>
          </a>
          <a mat-icon-button [href]="'https://www.linkedin.com/in/'"
             target="_blank" class="link">
            <mat-icon svgIcon="linkedin"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.youtube" [href]="'https://www.youtube.com/user/' + organizer.youtube"
             target="_blank" class="link">
            <mat-icon svgIcon="youtube"></mat-icon>
          </a>-->
        </div>
      </div>
      <div class="speaker">
        <div class="body" (click)="click()">
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="photo">
          <p class="name">Katka Pejšková</p>
          <div class="city">Ostrava, Czech Republic</div>
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="company">
          <p class="intro">Passionate about traveling and also to share his adventures with Web Technologies and Firebase.</p>
        </div>
        <div class="footer">
          <a mat-icon-button [href]="'https://www.twitter.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="twitter"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.instagram" [href]="'https://www.instagram.com/' + organizer.instagram"
             target="_blank" class="link">
            <mat-icon svgIcon="instagram"></mat-icon>
          </a>
          <a mat-icon-button *ngIf="organizer.googleplus" [href]="'https://plus.google.com/u/0/' + organizer.googleplus"
             target="_blank" class="link">
            <mat-icon svgIcon="googleplus"></mat-icon>
          </a>-->
          <a mat-icon-button [href]="'https://www.facebook.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="facebook"></mat-icon>
          </a>
          <a mat-icon-button [href]="'https://www.linkedin.com/in/'"
             target="_blank" class="link">
            <mat-icon svgIcon="linkedin"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.youtube" [href]="'https://www.youtube.com/user/' + organizer.youtube"
             target="_blank" class="link">
            <mat-icon svgIcon="youtube"></mat-icon>
          </a>-->
        </div>
      </div>
      <div class="speaker">
        <div class="body" (click)="click()">
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="photo">
          <p class="name">Katka Pejšková</p>
          <div class="city">Ostrava, Czech Republic</div>
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="company">
          <p class="intro">Passionate about traveling and also to share his adventures with Web Technologies and Firebase.</p>
        </div>
        <div class="footer">
          <a mat-icon-button [href]="'https://www.twitter.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="twitter"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.instagram" [href]="'https://www.instagram.com/' + organizer.instagram"
             target="_blank" class="link">
            <mat-icon svgIcon="instagram"></mat-icon>
          </a>
          <a mat-icon-button *ngIf="organizer.googleplus" [href]="'https://plus.google.com/u/0/' + organizer.googleplus"
             target="_blank" class="link">
            <mat-icon svgIcon="googleplus"></mat-icon>
          </a>-->
          <a mat-icon-button [href]="'https://www.facebook.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="facebook"></mat-icon>
          </a>
          <a mat-icon-button [href]="'https://www.linkedin.com/in/'"
             target="_blank" class="link">
            <mat-icon svgIcon="linkedin"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.youtube" [href]="'https://www.youtube.com/user/' + organizer.youtube"
             target="_blank" class="link">
            <mat-icon svgIcon="youtube"></mat-icon>
          </a>-->
        </div>
      </div>
      <div class="speaker">
        <div class="body" (click)="click()">
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="photo">
          <p class="name">Katka Pejšková</p>
          <div class="city">Ostrava, Czech Republic</div>
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="company">
          <p class="intro">Passionate about traveling and also to share his adventures with Web Technologies and Firebase.</p>
        </div>
        <div class="footer">
          <a mat-icon-button [href]="'https://www.twitter.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="twitter"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.instagram" [href]="'https://www.instagram.com/' + organizer.instagram"
             target="_blank" class="link">
            <mat-icon svgIcon="instagram"></mat-icon>
          </a>
          <a mat-icon-button *ngIf="organizer.googleplus" [href]="'https://plus.google.com/u/0/' + organizer.googleplus"
             target="_blank" class="link">
            <mat-icon svgIcon="googleplus"></mat-icon>
          </a>-->
          <a mat-icon-button [href]="'https://www.facebook.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="facebook"></mat-icon>
          </a>
          <a mat-icon-button [href]="'https://www.linkedin.com/in/'"
             target="_blank" class="link">
            <mat-icon svgIcon="linkedin"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.youtube" [href]="'https://www.youtube.com/user/' + organizer.youtube"
             target="_blank" class="link">
            <mat-icon svgIcon="youtube"></mat-icon>
          </a>-->
        </div>
      </div>
      <div class="speaker">
        <div class="body" (click)="click()">
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="photo">
          <p class="name">Katka Pejšková</p>
          <div class="city">Ostrava, Czech Republic</div>
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="company">
          <p class="intro">Passionate about traveling and also to share his adventures with Web Technologies and Firebase.</p>
        </div>
        <div class="footer">
          <a mat-icon-button [href]="'https://www.twitter.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="twitter"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.instagram" [href]="'https://www.instagram.com/' + organizer.instagram"
             target="_blank" class="link">
            <mat-icon svgIcon="instagram"></mat-icon>
          </a>
          <a mat-icon-button *ngIf="organizer.googleplus" [href]="'https://plus.google.com/u/0/' + organizer.googleplus"
             target="_blank" class="link">
            <mat-icon svgIcon="googleplus"></mat-icon>
          </a>-->
          <a mat-icon-button [href]="'https://www.facebook.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="facebook"></mat-icon>
          </a>
          <a mat-icon-button [href]="'https://www.linkedin.com/in/'"
             target="_blank" class="link">
            <mat-icon svgIcon="linkedin"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.youtube" [href]="'https://www.youtube.com/user/' + organizer.youtube"
             target="_blank" class="link">
            <mat-icon svgIcon="youtube"></mat-icon>
          </a>-->
        </div>
      </div>
      <div class="speaker">
        <div class="body" (click)="click()">
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="photo">
          <p class="name">Katka Pejšková</p>
          <div class="city">Ostrava, Czech Republic</div>
          <img src="https://firebasestorage.googleapis.com/v0/b/devfest-2018-cz.appspot.com/o/organizers%2Fphoto09-Katka-Pejskova.jpg?alt=media&token=bb102f5e-3d55-4f43-9eed-aa008f43ed6d" class="company">
          <p class="intro">Passionate about traveling and also to share his adventures with Web Technologies and Firebase.</p>
        </div>
        <div class="footer">
          <a mat-icon-button [href]="'https://www.twitter.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="twitter"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.instagram" [href]="'https://www.instagram.com/' + organizer.instagram"
             target="_blank" class="link">
            <mat-icon svgIcon="instagram"></mat-icon>
          </a>
          <a mat-icon-button *ngIf="organizer.googleplus" [href]="'https://plus.google.com/u/0/' + organizer.googleplus"
             target="_blank" class="link">
            <mat-icon svgIcon="googleplus"></mat-icon>
          </a>-->
          <a mat-icon-button [href]="'https://www.facebook.com/'"
             target="_blank" class="link">
            <mat-icon svgIcon="facebook"></mat-icon>
          </a>
          <a mat-icon-button [href]="'https://www.linkedin.com/in/'"
             target="_blank" class="link">
            <mat-icon svgIcon="linkedin"></mat-icon>
          </a>
          <!--<a mat-icon-button *ngIf="organizer.youtube" [href]="'https://www.youtube.com/user/' + organizer.youtube"
             target="_blank" class="link">
            <mat-icon svgIcon="youtube"></mat-icon>
          </a>-->
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="loading-container">
      <img class="loading-image" src="assets/mediaval-loading.gif">
    </div>
  </ng-template>
</div>
