<div style="display: flex;flex-wrap: wrap; justify-content: center;">
  <div style="flex-basis: 300px; margin-top: 50px; color: white; text-align: right;">
    <h1 style="font-weight: 700">{{name}}</h1>
    <h2><a [href]="'mailto:' + email" style="text-decoration: none; color: white;">{{email}}</a></h2>
    <h2><a [href]="'tel:' + phone" style="text-decoration: none; color: white;">{{phone}}</a></h2>
  </div>
  <app-member-panel-avatar [photoPathCringe]="photoPathCringe" [photoPath]="photoPath"
                           [socials]="socials ? socials : null" style="flex-basis: 200px;"></app-member-panel-avatar>

</div>
