.holder {
    width: 100%;
    text-align: center;
}

.tags-holder{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    app-topic{
        flex-basis: 120px;
    }
}
  
  