@import "../../../styles/colors";

@keyframes blink {
  0% {
    box-shadow: 0 0 15px dodgerblue;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 15px dodgerblue;
  }
}

@-webkit-keyframes blink {
  0% {
    box-shadow: 0 0 15px dodgerblue;
  }
  50% {
    box-shadow: 0 0 0;
  }
  100% {
    box-shadow: 0 0 15px dodgerblue;
  }
}

.blick {
  -webkit-animation: blink 3.0s linear infinite;
  -moz-animation: blink 3.0s linear infinite;
  -ms-animation: blink 3.0s linear infinite;
  -o-animation: blink 3.0s linear infinite;
  animation: blink 3.0s linear infinite;
}

.call-for-proposals {
  margin-top: 10px;
  margin-bottom: 35px;
  font-size: 1.5rem;
  height: 50px;
  width: 276px;

  .input-container {
    .call-for-proposals-call {
      font-size: 1.4rem;
      padding: 12px 0 4px !important;
      width: 100%;
    }
  }
  .snackbar {
    background-color: $dark-background;
    color: white;
  }
  .error-snackbar {
    background-color: $error-message;
    color: white;
  }
}

@media only screen and (min-width: 425px) {
  .call-for-proposals {

    .input-container {
      display: grid;
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      grid-gap: 16px;
      align-items: center;

      .call-for-proposals-call {
        padding: 4px 0;
        height: 60px;
        font-size: 1.75rem;
        width: 276px;

      }
    }
  }
}
