<div class="container">
  <div class="wrapper">
    <div class="speakers-cont">
      <app-speaker-card class="member" 
      [speakerName]="'Tomáš Zvěřina'" 
      [companyName]="'fnx i.o. s.r.o.'" 
      [tag]="'#075b9a'" 
      [imagePath]="'speakers/zverina.jpg'"></app-speaker-card>
      <app-speaker-card class="member" 
      [speakerName]="'Tomáš Zvěřina'" 
      [companyName]="'fnx i.o. s.r.o.'" 
      [tag]="'#075b9a'" 
      [imagePath]="'speakers/zverina.jpg'"></app-speaker-card>
      <app-speaker-card class="member" 
      [speakerName]="'Tomáš Zvěřina'" 
      [companyName]="'fnx i.o. s.r.o.'" 
      [tag]="'#075b9a'" 
      [imagePath]="'speakers/zverina.jpg'"></app-speaker-card>
      <app-speaker-card class="member" 
      [speakerName]="'Tomáš Zvěřina'" 
      [companyName]="'fnx i.o. s.r.o.'" 
      [tag]="'#075b9a'" 
      [imagePath]="'speakers/zverina.jpg'"></app-speaker-card>      <app-speaker-card class="member" 
      [speakerName]="'Tomáš Zvěřina'" 
      [companyName]="'fnx i.o. s.r.o.'" 
      [tag]="'#075b9a'" 
      [imagePath]="'speakers/zverina.jpg'"></app-speaker-card>
      <app-speaker-card class="member" 
      [speakerName]="'Tomáš Zvěřina'" 
      [companyName]="'fnx i.o. s.r.o.'" 
      [tag]="'#075b9a'" 
      [imagePath]="'speakers/zverina.jpg'"></app-speaker-card>
      <app-speaker-card class="member" 
      [speakerName]="'Tomáš Zvěřina'" 
      [companyName]="'fnx i.o. s.r.o.'" 
      [tag]="'#075b9a'" 
      [imagePath]="'speakers/zverina.jpg'"></app-speaker-card>
      <app-speaker-card class="member" 
      [speakerName]="'Tomáš Zvěřina'" 
      [companyName]="'fnx i.o. s.r.o.'" 
      [tag]="'#075b9a'" 
      [imagePath]="'speakers/zverina.jpg'"></app-speaker-card>
      <app-speaker-card class="member" 
      [speakerName]="'Tomáš Zvěřina'" 
      [companyName]="'fnx i.o. s.r.o.'" 
      [tag]="'#075b9a'" 
      [imagePath]="'speakers/zverina.jpg'"></app-speaker-card>
      <app-speaker-card class="member" 
      [speakerName]="'Tomáš Zvěřina'" 
      [companyName]="'fnx i.o. s.r.o.'" 
      [tag]="'#075b9a'" 
      [imagePath]="'speakers/zverina.jpg'"></app-speaker-card>
      <app-speaker-card class="member" 
      [speakerName]="'Tomáš Zvěřina'" 
      [companyName]="'fnx i.o. s.r.o.'" 
      [tag]="'#075b9a'" 
      [imagePath]="'speakers/zverina.jpg'"></app-speaker-card>
      <app-speaker-card class="member" 
      [speakerName]="'Tomáš Zvěřina'" 
      [companyName]="'fnx i.o. s.r.o.'" 
      [tag]="'#075b9a'" 
      [imagePath]="'speakers/zverina.jpg'"></app-speaker-card>
    </div>
  </div>
</div>
