.venue-section {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-align: center;

  .title {
    font-family: MyMediaval, serif;
    font-size: 3rem;
    margin: 0;
    text-align: center;
  }

  .informations {
    font-size: 1.2rem;
    font-weight: 400;
    width: 90%;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .venue-photo-container{
    padding: 30px;
    margin: auto;
    .venue-photo{
      width: 100%;
      box-shadow: none;
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      border:solid 2px #41403E;
    }
  }

  .close-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .close-button {
      color: #333333;
      cursor: pointer;
      position: fixed;
      text-decoration: none;
      outline: none;
    }
  }

  app-venue-position-map {
    display: flex;
    flex-grow: 1;
    padding: 30px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 600px) {
  .venue-section {
    .informations {
      width: 80%;
    }
  }
}

@media screen and (min-width: 768px) {
  .venue-section {
    .informations {
      width: 60%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .venue-section {
    .informations {
      width: 40%;
    }
  }
}
