<div class="venue-section">
  <div class="close-button-container">
    <a (click)="close()" class="close-button" >
      <i class="material-icons">close</i>
    </a>
  </div>
  <h1 class="title">
    Venue
  </h1>
  <p class="informations">Ready to regroup in the royal castle of DevFest?
    Come and see the famous 100 towers of mother Prague - there you will find the Pragovka fortress of technology.</p>
  <app-venue-position-map></app-venue-position-map>
  <div class="venue-photo-container">
    <img class="venue-photo" src="assets/venue-photo.jpg">
  </div>
</div>