@import '../../../colors.scss';

mat-toolbar {
  background-color: $devfest-blue;
}

mat-toolbar a {
  color: white;
}

.spacer {
  flex: 1 1;
}

.logo {
  width: 110px;
  height: 100%;
}

.menu-button {
  color: white;
  margin-right: 25px;
}

.mat-tab-link {
  font-size: 1.3rem;
}
