<section class="content">
  <h1 class="title">Tickets invoice</h1>
  <p class="text">This is a simple form that lets you order tickets for DevFestCZ 2018 by invoice. You'll pay 20€ per ticket.</p>
  <form class="form">
    <mat-form-field class="form-field" color="accent">
      <input class="input" matInput placeholder="Count" type="number" min="00">
    </mat-form-field>
    <mat-form-field class="form-field" color="accent">
      <input class="input" matInput placeholder="Email for delivering invoice">
    </mat-form-field>
    <mat-form-field class="form-field" color="accent">
      <input class="input" matInput placeholder="Company name">
    </mat-form-field>
    <mat-form-field class="form-field" color="accent">
      <input class="input" matInput placeholder="Street">
    </mat-form-field>
    <mat-form-field class="form-field" color="accent">
      <input class="input" matInput placeholder="City">
    </mat-form-field>
    <mat-form-field class="form-field" color="accent">
      <input class="input" matInput placeholder="Zip code (PSČ)">
    </mat-form-field>
    <mat-form-field class="form-field" color="accent">
      <input class="input" matInput placeholder="Registration number (IČ)">
    </mat-form-field>
    <mat-form-field class="form-field" color="accent">
      <input class="input" matInput placeholder="Registration number (DIČ)">
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Country</mat-label>
      <mat-select #country value="cz">
        <mat-option value="cz">Czech republic</mat-option>
        <mat-option value="sk">Slovakia</mat-option>
        <mat-option value="us">USA</mat-option>
        <mat-option value="uk">UK</mat-option>
        <mat-option value="de">Germany</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="buttons-container">
      <button mat-raised-button class="invoice-button cancel" color="warn" (click)="goToHome()">Cancel</button>
      <button mat-raised-button class="invoice-button buy" color="accent">Buy</button>
    </div>
  </form>
</section>
