mat-card.wrote-about-us {
  width: 256px;
  height: calc(100% - 48px);

  .content {
    .list {
      font-size: 1rem;
      .link-container {
        padding: 8px 0;
        width: 100%;
        .link {
          width: 100%;
          margin: 5px;
          white-space: normal !important;
        }
      }
    }
  }
}
