<div class="media-others-container">
  <div class="title">
    Wrote about us
  </div>
  <div *ngIf="$press | async;let press; else loadingImage">
    <div class="link-container" *ngFor="let one of press">
      <div class="link"><a href="{{one.url}}" target="_blank">{{one.name}}</a></div>
      <div class="source-container">
        <div></div>
        <div>- {{one.source}}</div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingImage>
  <div class="loading-image-container">
    <img class="loading-image" src="assets/mediaval-loading.gif">
  </div>
</ng-template>
