mat-card.wrote-about-us {
  width: 256px;
  height: calc(100% - 48px);

  .content {
    .list {
      font-size: 1rem;

      .link-container {
        width: 100%;

        .item {
          .link {
            color: white;
            display: block;
            padding: 12px 0;
            font-size: 16px;
            width: 100%;
            white-space: normal !important;
          }
        }
      }
    }
  }
}

.mat-list .mat-list-item .mat-list-item-content {
  padding: 0 !important;
}
