<mat-card *ngIf="$press | async;let press; else loadingImage" class="wrote-about-us">
    <mat-card-title>
        Wrote about us
    </mat-card-title>
    <mat-card-content class="content">
        <div class="list">
            <div class="link-container">
                <mat-list>
                    <ng-container *ngFor="let one of press">
                        <h3 mat-subheader>{{one.name}}</h3>
                        <mat-list-item>
                            <a mat-raised-button [color]="'accent'" [href]="one.url" class="link"
                               target="_blank">{{one.source}}</a>

                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </ng-container>
                </mat-list>

            </div>

        </div>
    </mat-card-content>
</mat-card>
<ng-template #loadingImage>
    <mat-spinner [diameter]="115"></mat-spinner>
</ng-template>
