<mat-card *ngIf="$press | async;let press; else loadingImage" class="wrote-about-us">
    <mat-card-title>
        Wrote about us
    </mat-card-title>
    <mat-card-content class="content">
        <div class="list">
            <div class="link-container">
              <div class="item" *ngFor="let one of press">
                  <a class="link" href="{{one.url}}" target="_blank">{{one.name}} | {{one.source}}</a>
                  <mat-divider class="divider"></mat-divider>
              </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<ng-template #loadingImage>
    <mat-spinner [diameter]="115"></mat-spinner>
</ng-template>
