@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import "colors";
@import url('https://fonts.googleapis.com/css?family=Roboto');


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $devfest-blue;
}

* {
  font-family: Roboto, serif;
  font-display: auto;
}

.mat-tab-nav-bar {
  border-bottom: none;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #0bbcbc;
}

*{
  font-family: 'Roboto', sans-serif;
}