<div class="email-notifier">
  <form (ngSubmit)="submit()">
    <div class="input-container">
      <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="emailControl" name="EMAIL" required>
        <mat-error *ngIf="emailControl.status === 'INVALID'">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter your name" [formControl]="nameControl" required>
        <mat-error *ngIf="nameControl.status === 'INVALID'">{{getNameErrorMessage()}}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit" class="stay-notified">Stay notified</button>
    </div>
  </form>
</div>

