.dates-hoder {
  width: 300px;
  height: 50px;
}

.dates-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .date{
    flex-basis: 150px;
    margin-top:3px;
    margin-bottom: 3px;
  }
}