.menu {
  display: grid;
  columns: 3;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: 88px 88px 88px;
  width: 100%;

  .link {
    display: flex;
    align-content: center;
    justify-content: center;

    .shield {
      height: 102px;
      width: 88px;
    }
  }
}

@media only screen and (min-width: 375px) {
  .menu {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 102px 102px 102px;

    .link .shield {
      height: 119px;
      width: 102px;
    }
  }
}

@media only screen and (min-width: 1920px) {
  .menu {
    grid-column-gap: 82px;
    grid-row-gap: 48px;
    grid-template-columns: 201px 201px 201px;

    .link-container {
      .shield {
        width: 201px;
      }
    }
  }
}
