<div class="menu">
  <a routerLink="section/team" class="link">
    <img src="assets/shields/aristocracy-shield.png" alt="Aristocracy" class="shield">
  </a>
  <a routerLink="section/tickets" class="link">
    <img src="assets/shields/tickets-shield.png" alt="Tickets" class="shield">
  </a>
  <a routerLink="section/media" class="link" title="Press release shield">
    <img src="assets/shields/press-release-shield.png" alt="Press release shield" class="shield">
  </a>
  <a routerLink="section/speakers" class="link" title="Speakers shield">
    <img src="assets/shields/knights-shield.png" alt="Speakers shield" class="shield">
  </a>
</div>
