<div class="menu">
  <a routerLink="section/tickets" class="link">
    <img src="assets/shields/tickets-shield.png" alt="Tickets" class="shield">
  </a>
  <a routerLink="section/schedule" class="link">
    <img src="assets/shields/schedule-shield.png" alt="Press release" class="shield">
  </a>
  <a routerLink="section/speakers" class="link">
    <img src="assets/shields/speakers-shield.png" alt="Speakers" class="shield">
  </a>
  <a routerLink="section/info" class="link">
    <img src="assets/shields/info-shield.png" alt="Info" class="shield">
  </a>
  <a routerLink="section/team" class="link">
    <img src="assets/shields/aristocracy-shield.png" alt="Aristocracy" class="shield">
  </a>
  <a routerLink="section/media" class="link">
    <img src="assets/shields/press-release-shield.png" alt="Press release" class="shield">
  </a>
</div>