<div class="menu">
  <a routerLink="section/team" class="link">
    <img src="assets/shields/aristocracy-shield.png" alt="Aristocracy" class="shield">
  </a>
  <a routerLink="section/tickets" class="link">
    <img src="assets/shields/tickets-shield.png" alt="Tickets" class="shield">
  </a>
  <a routerLink="section/media" class="link" >
    <img src="assets/shields/press-release-shield.png" alt="Press release" class="shield">
  </a>
  <a routerLink="section/venue" class="link">
    <img src="assets/shields/venue-shield.png" alt="Venue" class="shield">
  </a>
  <a routerLink="section/speakers" class="link" title="Speakers shield">
    <img src="assets/shields/speakers-shield.png" alt="Speakers shield" class="shield">
  </a>
</div>
