.container {
  min-height: 100vh;
  width: 100%;
  position: relative;

  .logo-date-holder {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 850px;
  }

  .socials {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.container-second {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.tickets {
  text-align: center;
}

.container-fourth {
  width: 100%;
  text-align: center;

  app-partner-panel {
    width: 100%;
  }
}

.container-photo {
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 100%;
}