.wrapper{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
}

.container {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.containerSecond {
  height: 80px;
  width: 100%;
  text-align: center;
  background-color: rgba(18, 42, 66, .98);
}

.wrapperSecond {
  padding: 10px;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
  stroke-dasharray: 1800;
  opacity: 10;
	stroke: #2994D1;
	fill: transparent;
	stroke-width: 1px;	
	animation: load 10s ease-in, arrow 5s infinite;
}

@keyframes load {
  0% {
    opacity: 1;
    fill: none;
    stroke-dashoffset: 1800;
  }

  20% {
    opacity: 5;
  }

  30% {
    opacity: 10;
  }

  90% {
    fill: rgba(255, 255, 255, 0)
  }
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
}

.arrows path.a2 {
	animation-delay:-0.5s;
}

.arrows path.a3 {	
	animation-delay:0s;
}