.container {
  min-height: 100vh;
  width: 100%;

  .wrapper {
    padding-top: 80px;

    .speakers-cont {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .member {
        flex-basis: 320px;
      }
    }
  }
  .info-holder{
    text-align: center;
  
    .info-text {
      font-size: 28px;
    }
  }
}

