<div class="footer-container">
    <div class="content-container">
      <div class="links-content">
        <h2 class="previous-years">Previous years</h2>
        <ul class="list">
          <li>
            <a href="https://2018.devfest.cz/" class="link">Prague 2018</a>
          </li>
          <li>
            <a href="https://2017.devfest.cz/" class="link">Prague 2017</a>
          </li>
          <li>
            <a href="https://2016.devfest.cz/" class="link">Pilsen 2016</a>
          </li>
          <li>
            <a href="https://2015.devfest.cz/" class="link">Ostrava 2015</a>
          </li>
          <li>
            <a href="https://2014.devfest.cz/" class="link">Prague 2014</a>
          </li>
          <li>
            <a href="https://2013.devfest.cz/" class="link">Prague</a> & <a href="https://pardubice2013.devfest.cz/"
              class="link">Pardubice 2013</a>
          </li>
          <li>
            <a href="https://2012.devfest.cz/" class="link">Prague 2012</a>
          </li>
        </ul>
      </div>
      <div class="support-container">
      </div>
      <div class="button-container">
        <a href="https://devfest.withgoogle.com/code-of-conduct" class="coc-button"  target="_blank" rel="noopener" mat-raised-button
          color="primary">
          Code of conduct
        </a>
        <a href="mailto:jiri.bartusek@gug.cz" target="_blank"
          mat-raised-button class="partner-button" color="accent">Become a partner</a>
        <div class="organizers-contact-container">
          <h6 class="organizers-contact"><span>Organized by <a href="http://www.gug.cz/cs"  target="_blank" rel="noopener">GUG.cz z.s.</a>
              | <a href="mailto:devfest@gug.cz">devfest@gug.cz</a></span></h6>
        </div>
      </div>
    </div>
  </div>