@import "../../../styles/colors";

.ticket-card {
  display: flex;
  width: 250px;
  padding: 24px 0;
  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    .title {
      width: 100%;
      color: white;
      font-size: 2.5rem;
      font-weight: 500;
      margin: 0;
      text-align: center;
    }

    .prices-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      .price {
        width: 100%;
        color: $yellow;
        font-size: 2.75rem;
        font-weight: 500;
        margin: 16px 0 0 0;
        text-align: center;
      }

      .individual {
        .price {
          font-size: 3.5rem;
        }
      }

      .subtitle {
        width: 100%;
        color: white;
        font-size: 1.1rem;
        margin: 0;
        text-align: center;
      }
    }

    .description {
      color: white;
      width: 100%;
      text-align: center;
      font-size: 1.25rem;
      margin: 26px 0;
    }

    .buy-button {
      font-size: 1.25rem;
      font-weight: 500;
      height: 50px;
      width: 200px;
      padding-top: 7px;
      margin-top: 20px;
    }

    .sold-out {
      height: 35px;
      font-size: 1.25rem;
      font-weight: 500;
      width: 100%;
      text-align: center;
    }
  }
}

.ticket-card.actual {
  border: 2px solid rgba(253, 216, 53, 0.7);
}

.ticket-card.actual:hover {
  box-shadow: rgba(253, 216, 53, 0.5) 0 0 30px 5px;
}

.ticket-card.unavailable {
  transform: scale(0.8);
}
