@import "../../../styles/colors";

.ticket-card {
  display: flex;
  background-position: center center;
  background: transparent;
  height: 400px;
  width: 250px;
  border: 10px solid transparent;
  border-image: url("../../../assets/border-left-right.png") 30 stretch;
  color: #333343;
  box-shadow: none !important;

  padding: 16px 0;
  z-index: 10;
  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    .title {
      width: 100%;
      font-size: 1.75rem;
      font-weight: 500;
      margin: 0;
      text-align: center;
    }

    .prices-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      .price {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 8px 0 0 0;
        text-align: center;
      }

      .price.actual {
        color: $yellow;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }

      .price-in-crowns {
        text-align: center;
        font-weight: 400;
        font-size: 1rem;
        margin: 0;
      }

      .individual {
        .price {
          font-size: 1.75rem;
        }
      }

      .subtitle {
        width: 100%;
        font-size: 1.1rem;
        margin: 0;
        text-align: center;
      }
    }

    .description {
      width: 100%;
      text-align: center;
      font-size: 1.25rem;
      margin: 16px 0;
    }

    .buy-button {
      font-size: 1.25rem;
      font-weight: 500;
      height: 50px;
      width: 200px;
      padding-top: 7px;
      margin-top: 12px;
      box-shadow: none;
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      border: solid 2px #41403E;
    }

    .sold-out {
      height: 35px;
      font-size: 1.25rem;
      font-weight: 500;
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
  }
}

@media only screen and (min-width: 1095px) {
  .ticket-card.actual {
    height: 438px;
    .content {

      .title {
        font-size: 2.5rem;
      }

      .prices-container {
        .individual {
          .price {
            font-size: 3.5rem;
          }
        }
      }
    }
  }

  .ticket-card.smaller {
    height: 380px;
    z-index: 1;
    .content {
      .title {
        font-size: 2rem;
      }
      .prices-container {
        flex: 1;
        .price {
          font-size: 2.2rem;
        }

        .individual {
          .price {
            font-size: 2.8rem;
          }
        }

        .subtitle {
          font-size: 0.88rem;
        }
      }

      .description {
        font-size: 1rem;
        margin: 21px 0;
      }

      .buy-button {
        font-size: 1rem;
        height: 40px;
        width: 160px;
        padding-top: 3px;
        margin-top: 16px;
      }

      .sold-out {
        height: 28px;
        font-size: 1rem;
        font-weight: 500;
        width: 100%;
        text-align: center;
      }
    }
  }
}
