.container {
  min-height: 100vh;
  width: 100%;

  .wrapper {
    padding-top: 80px;
    text-align: center;
  }
}

.schedule {
  margin: 20px;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
